[2014-01-29 22:02] 0x-r4bbit opened #2 "Consider namespacing"
Hey @mgonto !

Cool stuff here. However before it gets too popular I would like give you a tip that would introduce a breaking change though. I saw you have a directive `next` to step to the next step (obviously).

Just a little advice `next` is very generic and could also be used in any other module. How about prefixing your specific directive for this module?

Sth. like `<ANY wz-next></ANY>` or

[2014-01-30 00:20] #2 closed, assigned to nobody

[2014-01-31 15:11] cranesandcaff opened #4 "Animations with NGAnimate?"
I'm sorry, I didn't see in the documentation, does this support animation with ng-animate? If so, what is the syntax?

[2014-01-31 18:15] bgoetzmann opened #5 "Validation rules"
First, thanks for angular-wizard!
It would be interesting to add the possibility to use some validation rules in order to progress or not to the next step (something like in the Pines Steps project).
I think to something really simple: when you define a function on a wz-next attribute, why not return a boolean to authorize or not progression? Or perhaps, the use of another attribute?

Thanks.

[2014-02-01 10:38] #5 closed, assigned to nobody

[2014-02-01 21:47] onetwothreebutter opened #6 "wzNext not in /latest/"
I grabbed the HTML from your github and tried to use it with http://cdn.jsdelivr.net/angular.wizard/latest/angular-wizard.js , but it wouldn't work. I compared your wizard code and notice the wzNext is in your demo site, but not in /latest/.

[2014-02-01 22:02] #6 closed, assigned to nobody

[2014-02-04 15:02] cranesandcaff opened #7 "IE8 Support"
Currently there is an error in IE8 that causes forms to not submit.

[code]

I'll troubleshoot and if I find a fix I will post it here.

[2014-02-05 18:29] bgoetzmann opened #8 "About using current-step"
Hello,

Interesting by knowing the current step name, I tried the attribute current-step on the wizard directive, giving as value, a property name of my scope e.g. stepName.
I noticed that if I give an initial value different of '' or undefined, my scope variable is well updated, but not in the contrary case (or if I don't initialize the variable).

How am I supposed to intialize this scope proper

[2014-02-06 05:33] donzorro opened #9 "Error when using wz-next directive"
I am getting the following error:
TypeError: Object [object Object] has no method 'on'
    at angular.module.directive.link (http://cdn.jsdelivr.net/angular.wizard/latest/angular-wizard.js:156:30)
    at nodeLinkFn (https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js:4959:13)

for what i can see, the $element passed to the directive is a jqlight object and not the element itself. to g

[2014-02-06 05:43] #9 closed, assigned to nobody

[2014-02-13 19:47] #4 closed, assigned to nobody

[2014-02-13 19:49] #8 closed, assigned to nobody

[2014-02-14 19:09] #7 closed, assigned to nobody

[2014-02-24 15:01] rtucker88 opened #11 "Directive Names Conflicting With HTML5 Step Attribute"
Hey,

I'm using the HTML5 step attribute and your wizard "step" directive is conflicting with it. Can we prefix your step directive with mgo- or something to fix this namespacing issue?

You can see the step attribute explained on MDN at https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Input.

This conflict resulted in the following error: Controller 'wizard', required by directive 'ngTra

[2014-02-24 19:12] #11 closed, assigned to nobody

[2014-03-10 19:52] penchiang opened #15 "Different stylesheet"
I am wondering if someone has done some css work to produce the wizard similar to http://mstratman.github.io/jQuery-Smart-Wizard/. If so, can someone share it? Thanks.

[2014-03-11 07:01] gudh opened #16 "Any example using angular-wizard with validation on every step?"
That is one form for every step, the "Next" button is only active when the current form is valid.

Thanks for building this amazing plugin :smile:

[2014-03-14 14:59] DjordjePetrovic opened #17 "Reset wizard for different entry"
Is there any way to reset steps and return to first step? I want to use same wizard for multi entries.  Maybe I need to have more wizards and switch between them ? Thanks !

[2014-03-17 19:38] ajself opened #18 "Update bower"
Looks like there are some useful new features that the current 0.3.0 version does not have. Possible to bump the version and update Bower in the process?

[2014-03-18 10:42] irnc opened #19 "bower.json does not list lodash as dependency"

[2014-03-31 07:52] pvmenon opened #23 "Css and screen not painting"
after implementing i am getting the following screen
Can someone guide me

![screen shot 2014-03-31 at 1 18 58 pm](https://cloud.githubusercontent.com/assets/7113069/2564820/337c46d6-b8a9-11e3-9bd1-3dc5241343f3.png)

[2014-04-04 00:28] greggreaves opened #24 "model not propagating between wzsteps"
in the following code fragment....

          <wz-step title="Start">
            <h2>General Information</h2>
		    Group Name:<input ng-model="groupName" type="text"/>
    		<br>
            <br>
            <input type="submit" wz-next value="Continue..."/>
          </wz-step>
          <wz-step title="2" >
            <h2>Define your Group Structure for {{groupName}}</h2>
            <input t

[2014-04-08 08:00] #19 closed, assigned to nobody

[2014-04-25 18:54] #18 closed, assigned to nobody

[2014-04-25 18:55] #17 closed, assigned to nobody

[2014-04-25 18:56] #16 closed, assigned to nobody

[2014-04-25 18:57] #15 closed, assigned to nobody

[2014-04-25 18:57] #23 closed, assigned to nobody

[2014-05-05 13:22] kemar opened #28 "Add a method to mark the current step as completed"
Hi,

And thank you for _angular-wizard_ :)

It seems that currently the Wizard assumes that all steps are mandatory because the only way to mark a step as **completed** is to use the `WizardHandler.wizard().next()` method.

I'm building a **Wizard** with optionnal steps using the `WizardHandler.wizard().goTo()` method.

What do you think about adding a param to `WizardHandler.wizard().goTo(step, c

[2014-05-07 17:11] brendanstennett opened #29 "Navigating with Step Indexes"
I have added functionality to both emit the step and step index when the step changes as well as navigating to a step given an index.  I am using this functionality to update the query string as to which step the user is currently on and jumping to that given step in the event of a page refresh.

If this is functionality you would like to have, I can send a pull request.

[2014-05-11 15:27] #28 closed, assigned to nobody

[2014-05-13 12:58] Merguez22 opened #31 "Clean all steps"
Hi,

I have added the wizard in a popup. When i click on my create button, the popup is displayed and the wizard work fine. I filled all steps and on finish i do a HTTP request and the popup is hidden. When i click again on the create button, the popup is displayed with all the steps done, due to the previous creation.

There is a way to clean up all the steps ?

[2014-05-14 16:00] DevinClark opened #32 "step directive causing issues with input[type="number"]"
When attempting to use the [step attribute](http://www.w3.org/TR/html-markup/input.number.html#input.number.attrs.step.float) on an input with the type of number, I get errors for the angular-wizard directive.

[code]

My HTML is as follows:

[code]

I suggest the step directive be renamed to `wz-step` or something that does not conflict with a native HTML attribute.

[2014-05-15 14:09] Shepless opened #33 "Start at specific step"
Is it possible to make the wizard start at a specific step. For example an application configuration wizard that has 5 steps and a user has only previously completed 3/5, so when they next load the page it goes straight to step 4/5.

I have the setup "status" in my controller that wraps the wizard, however when I run:

[code]

[code]

The above line returns undefined. Not sure what I am doing wron

[2014-05-16 00:39] #32 closed, assigned to nobody

[2014-05-30 14:17] kentcdodds opened #34 "Styling Issues with navigation line"
See screenshot:

![Styling issues with angular-wizard navigation line](http://cl.ly/image/362w3p2W0B00/Image%202014-05-30%20at%208.44.48%20AM.png)

If that's not showing for some reason, [click here](http://cl.ly/image/362w3p2W0B00) to see it.

I've tried to show all the css from the dev tools. Let me know what more information I can give you...

[2014-06-17 04:51] kylejeske opened #35 "_ is not defined"
when using this as an include through bower install angular-wizard and then doing an include of dist/angular-wizard.min.js -- it will throw an error about _ not being defined.

I included lodash.underscore.min.js (from another library) to fix this, I notice it says lodash is a dependency in the README file.

But perhaps you can make this more clear in the README that you are going to need to inclu

[2014-06-19 13:50] vitalybe opened #36 "Use ng-if instead of ng-show to show/hide wizard steps"
Today in step.html there is the following code: `<section **ng-show**="selected"...`

I have 2 issues with that:
1. It makes it hard for me to write code that would run only when the step is shown. For example, I am using a focus directive in the steps, whose link functions runs when the directive is added to the DOM. However, since the code is rendered right away, all the focus code runs immediat

[2014-06-27 21:55] vitalybe opened #37 "Running code when a step is shown"
Is there a good way to run code when a specific wizard step is shown?

The best I thought of so far is catching the wizard-step-changed event, checking if the new step equals to the step I am running in and if so executing my code.

However, it seems a bit of a drag to run it in every step I have logic that should be run when it is shown.

[2014-07-08 02:29] tjrosario opened #38 "Browser back/fwd button support"
Is there a way to enable support for the browser back/fwd buttons?

[2014-07-10 20:56] #29 closed, assigned to nobody

[2014-07-10 20:56] #31 closed, assigned to nobody

[2014-07-10 20:57] #33 closed, assigned to nobody

[2014-07-10 20:57] #35 closed, assigned to nobody

[2014-07-10 20:59] #36 closed, assigned to nobody

[2014-07-10 21:00] #37 closed, assigned to nobody

[2014-07-10 21:01] #38 closed, assigned to nobody

[2014-07-18 11:04] bpbhat77 opened #40 "How to change the position of navigation bar?"
How to add navigation bar at top?
or left/right/top/bottom
is there any configuration/flag?

[2014-08-01 08:48] schmitch opened #41 "Step validation?!"
Currently maybe It's just missing the documentation part, but is there an easy way to validate all the steps?
Currently we previously used https://github.com/VinceG/twitter-bootstrap-wizard but since that wizard isn't 'that' good we will change to the one you provide. But we need an easy way to validate all ours steps.
there should be a handler where we could inject a a function like `_validate_st

[2014-08-13 14:06] sushil-vishwanathan opened #42 "Dynamic Steps in a Wizard"
Hi:
I would like to implement a wizard which would have dynamic steps, meaning a model value from one step would decide whether or not subsequent steps are required. How do I achieve this with the current version of angular-wizard?
Thanks in advance

[2014-09-05 15:28] jonaswindey opened #44 "Configure labels of next/previous/finish buttons"
Is there a way to configure this? I'd like them translated, preferably integrated with ngTranslate.

Thanks

[2014-09-08 06:13] kashifmustafa opened #45 "IE issue in steps"
Hi,
This wizard working exactly as described in all browsers except IE. All steps are click-able in internet explorer when wizard is not in edit mode.It should not be click-able in save mode[not edit mode] because it follow the next button not steps. I agree in edit mode all steps are click-able and working fine in IE too. I am using IE 9. So please help me on this ASAP.
Thanks Advance.

[2014-09-10 02:56] geminiyellow opened #46 "how can i i18n the step title?"
hi mgonto, thanks for your wizard.
but i have a question.
i need to change the step title in mayn languages, but the title is the step id.
if i change it in other language it means i could not found the id in next().

could you add a $scope.displayTitle ?

and one more about the navigationbar.
i can use WizardHandler.wizard().next() move to the next step,
and add some check before it.
but how abou

[2014-09-25 22:10] Shawful opened #57 "Are there plans to get this tool to work with Yeoman?"
Currently, when I add the path to the angular-wizard.css files in my index.html file and then run the yeoman "grunt build" command, the path to the angular-wizard.css file is removed from index.html.

Not sure how exactly to integrate the two, but I wanted to ask if anyone was aware of how to make the two tools work together.  Any ideas?

[2014-09-25 22:24] #57 closed, assigned to nobody

[2014-10-14 00:51] douglaslira opened #58 "Get current step"
How to get current step and how to block event next step?

[2014-10-14 01:00] #58 closed, assigned to nobody

[2014-10-22 10:23] michelem09 opened #60 "Bower install different from Github"
As you can read on the title, the bower install is different from Github files and this can cause a lot of confusion and waste of time.

[2014-11-04 16:11] dsaf opened #61 "Standard NuGet package"
Hi,

Would it be possible to have it released as a standard package (NuGet)?

Thanks!

[2014-11-05 21:07] LucasKA opened #62 "When ng-hide is set on on a wz-step, it still shows in the progress bar."
One of the best things about Angular form validation, is it's easy to make conditional form flow, since it won't attempt to validate a hidden form.

When adding ng-hide/ng-show to a wizard step, Angular Wizard should hide/show it's corresponding dot on the progress, which would make a much easier flow for creating wizards for say, differing user types and such.

[2014-11-08 18:24] karlbunnell opened #64 "angular-wizard won't work when used within a angular-ui modal window"
I get the following error when trying to use the <wizard> directives within a angular-ui modal:

ReferenceError: _ is not defined
    at unselectAll (https://cdnjs.cloudflare.com/ajax/libs/angular-wizard/0.4.0/angular-wizard.js:111:17)
    at Scope.$scope.goTo (https://cdnjs.cloudflare.com/ajax/libs/angular-wizard/0.4.0/angular-wizard.js:102:17)
    at addStep (https://cdnjs.cloudflare.com/ajax/li

[2014-11-18 06:47] geminiyellow opened #67 "how can i get the steps"
i can get the currentStep, but only currentStep's title is no use.
i dont have steps info, or tab index.

the first page , i can get the index from 'wizard:stepChanged', but the last page?
i have no idea.

[2014-11-20 13:54] Fabryprog opened #69 "Retrieve stepNumber"
Hello, how to retrieve step number from parent controller?

tnkx

[2014-12-16 16:16] #69 closed, assigned to nobody

[2014-12-16 16:17] #67 closed, assigned to nobody

[2014-12-16 16:19] #41 closed, assigned to nobody

[2014-12-17 15:59] #64 closed, assigned to nobody

[2014-12-17 20:07] #46 closed, assigned to nobody

[2014-12-17 20:09] #44 closed, assigned to nobody

[2014-12-18 15:08] #60 closed, assigned to nobody

[2014-12-30 16:55] ritterpa opened #73 "Bower Install Different From Github"
Take a look at dist/angular-wizard.js.  When i do bower install angular-wizard, I get a version of wz-step that is missing canexit and canenter.

The version on Github has these two callbacks on the scope object for the wz-step directive, but bower is giving me a version from 2014-04-25.

Could you please update the bower package?

[2014-12-30 17:50] #73 closed, assigned to nobody

[2015-01-01 20:24] vtytar opened #74 "Wizard step validators added in canenter/canexit unaware of wz-previous or wz-next direction"
If you have some inputs on one of the steps that requires validation, it would most certainly be done via canexit callback. But canexit is called regardless of wz-next or wz-previous is pressed.

The weird problem I faced in my application is that I cannot return to the previous step unless all fields are filled up correctly, which is not the desirable effect. It would be perfect if canexit callba

[2015-01-01 21:16] vtytar commented on #74
Tiny patch introduced in pull request#75.

[2015-01-01 22:48] jacobscarter commented on #74
@vtytar I made the changes and am pushing it live so you can go back in steps without validating.  I am closing this ticket and your pull request, see my comments on the PR.

Thanks for pointing this out and your contributions!

[2015-01-01 22:48] #74 closed

[2015-01-02 09:15] vtytar commented on #74
Thanks.

[2015-01-02 20:37] jvlasblom opened #76 "Next and Previous buttons have wrong tooltips"
The tooltip for the 'next' and 'previous' buttons shows the title of the current page, instead of the title for the next page or previous pages, respectively.

[2015-01-03 06:15] jacobscarter commented on #76
@jvlasblom I'll look into this, I'll update you shortly.  Thanks for letting me know.

[2015-01-08 08:02] geminiyellow opened #77 "how to validate all steps in edit-mode"
hi all,
now canexit/canenter were added, but if i use editMode,
how can i validate all steps?
e.g.
i have a wizard for regist.
steps:
account, infos, options.
infos has error.
but i can jump to options from account, and then press finish button.

can i get all steps validate infos? if invalid, can i jump back to the first invalid step?

[2015-01-08 15:43] jacobscarter commented on #77
@geminiyellow Along with the addition of the canexit canenter attributes there was also the creation of a context object.  This object is accessible by all steps and is automatically passed in as an argument to your canexit canenter functions.  So for example:

*Your Controller*

    $scope.step1ExitValidation = function(){
        //logic for validation
        if(logicForValidation){

[2015-01-08 17:00] geminiyellow commented on #77
@jacobscarter thanks for your help sir, can i use the context like this?

HTML：

    <wizard on-finish="finishedWizard()">
        <wz-step title="Starting">
        </wz-step>
        <wz-step title="Continuing">
        </wz-step>
        <wz-step title="More steps">
        </wz-step>
    </wizard>

JS：

    $scope.finishedWizard = function(){
        var valid = _.every(stepnames, function(nam

[2015-01-08 17:09] jacobscarter commented on #77
@geminiyellow

So I might need a little more context, for example you are looping through `stepnames`. Where is the value assigned to this? Is this the steps array from angular-wizard?

You are correctly creating the key/value pair in the context object, but I don't see you assigning a value to the `value` key of the context object.

So assuming you have created/defined the `stepnames` variable an

[2015-01-08 19:44] amatecha opened #78 "Directive attribute to choose whether step-indicators are before or after"
Would be cool to be able to set whether the step-indicators appear before or after the steps container (for ease of styling/layout).  If I get some free time I'll do it myself and submit a PR, but not sure when I'll get a chance.  ;)

[2015-01-08 21:47] jacobscarter commented on #77
Let me know if this works for you and I will close the issue.

[2015-01-09 12:33] ttbarnes opened #79 "Each step shows title on hover"
Using the html title attribute causes this to show on a step, on hover. eg:

`<wz-step title="myStep">`

Instead, we could use `data-title`. It seems to work well:

`<wz-step data-title="myStep">`

[2015-01-12 07:59] morfin commented on #79
Wonderful, the tooltip was starting to annoying me.

[2015-01-17 17:54] HarelM commented on #61
+1

[2015-01-19 22:43] CarlosAdrianM opened #80 "Mobile Keyboard and Navigation Line"
If you use the wizard in a mobile device, when the keyboard appers the navigation line appears in the middle of the screen instead of the buttom.

I have just tested in Android with Galaxy S3, but I guess this problem will be identical in any device.

[2015-01-19 22:54] jacobscarter commented on #80
@CarlosAdrianM  Are you using this in your mobile browser or are you building a hybrid app with something like Cordova?

[2015-01-19 22:58] CarlosAdrianM commented on #80
Mobile Browser (Chrome)

[2015-01-20 09:58] bpbhat77 commented on #79
+1

[2015-01-24 16:56] sbiaudet opened #81 "canexit and canenter as expression"
Is it possible to have an expression instead a function in canexit and canenter attributes ?

I've put nested ng-form in each step. I'd like to have this syntax :
[code]

[2015-01-30 09:59] sbiaudet opened #82 "Additional custom data on step"
Is it possible to have an additional property wz-data for example to put custom data in step. It could be nice to customize wizard header with data from state.

[2015-02-10 12:43] spamguy opened #83 "Navigation line renders incorrectly"
I tried using angular-wizard 0.4.2 on my site but it rendered incorrectly with three nodes on all major browsers: the line draws ~10% too far to the right. To simplify the problem, [I assembled a JSBin](http://jsbin.com/vatohu/1/) using 0.4.0. Right out of the box, the line renders incorrectly.

[2015-02-10 15:01] spamguy commented on #83
Oops, just saw the hack solution in #34 and that worked for me. Perhaps this should be in the documentation proper?

[2015-02-10 15:01] #83 closed

[2015-02-16 15:30] MightyPixel opened #84 "Wrap wz-step in another directive"
Hi how is it possible to do this:

    <wizard on-finish="finishedWizard()" current-step="currentStep" hide-indicators="true">
      <wz-step title="step1" canexit="validateStep">
       step body
      </wz-step>
    </wizard>

to:

    <wizard on-finish="finishedWizard()" current-step="currentStep" hide-indicators="true">
      <step-one></step-one>
    </wizard>

step-one directive contains the

[2015-02-16 15:37] jacobscarter commented on #84
@MightyPixel

You could write your own directive to do this if you would like.  The trouble with doing something like this would be writing a directive to handle infinite number of steps. That is why we have wz-step.

Why is it that you want to do this?

[2015-02-16 19:05] MightyPixel commented on #84
I'm doing a wizard that has different variations (every variation contains different steps) I want to abstract the boilerplate stuff like giving every step a title with simple directives that correspond to the steps. So constructing a wizard variation would mean to put n step directives in the wizard template.

Actually I made the step directives (the directives that contain the wz-step) and I hav

[2015-02-18 16:40] jacobscarter commented on #84
Can you show some code to help me get some context

[2015-02-18 20:41] knownasilya opened #85 "Update npm package"
Version on npm is 0.4.0, could you update it to 0.4.2? Thanks!

[2015-02-24 06:38] bshiroya opened #86 "Can I Set Progress Bar In top?"

[2015-02-24 15:53] jacobscarter commented on #86
@bshiroya you can write your own stylesheet to override the wizard styles and move the progress bar.

[2015-02-24 15:53] #86 closed

[2015-03-02 16:25] louim opened #88 "404 when checking the example"
Hello!
I get a 404 when trying this url: http://mgonto.github.io/angular-wizard/
Is it still the right url for the demo?

[2015-03-02 16:48] jacobscarter commented on #88
Let me look into that!

[2015-03-02 19:45] mgonto commented on #88
Hmm that's weird. I'll contact Github support about it.

[2015-03-02 23:29] louim commented on #88
Looks like it has been fixed, thanks!

[2015-03-02 23:29] #88 closed

[2015-03-03 04:33] #84 closed

[2015-03-05 09:38] bkolada opened #89 "Live demo doesn't work"
As above the link to demo in README doesn't work

Br,
Bartek

[2015-03-05 17:51] jacobscarter commented on #89
This was fixed a few days ago, try clearing your cache

[2015-03-05 17:51] #89 closed

[2015-03-05 18:33] RodrigoAxel opened #90 "Add suport for async validations"
It would be VERY useful if the 'canexit' and 'canenter' methods accepted a promise, this way we would be able to make ajax calls for validation purposes.

[2015-03-05 18:42] RodrigoAxel commented on #90
Nevermind, you can validate the form synchronously using the angular build-in form property '$valid' and '$pending'.

For example you can add this function to validate an step:

    $scope.validate = function () {

        //Only can change step if the form is valid and has no pending ajax requests
        return $scope.myForm.$valid && !$scope.myForm.$pending;
    };

For more information please

[2015-03-05 22:00] jacobscarter commented on #90
Thanks for the great ideas, I am going to work on implementing this

[2015-03-26 22:40] rafaelfragosom opened #91 "Sub-wizard (Threes)"
The idea here is to support multiple sub-wizard steps (Like CSM on calls). I want to enable different options (steps) depending the previous step chosen. Is it possible?

[2015-04-03 20:49] mgonto commented on #34
@jacobscarter can you check this one if you have time? @kentcdodds is using it with Angular Formly, and it'd be lovely to fix it.

Otherwise, I'll check it out next week :).

Thanks everyone for all the help in finding the issue!

[2015-04-03 20:50] kentcdodds commented on #34
Here's the working example: http://angular-formly.com/#/example/other/angular-wizard

[2015-04-03 20:58] mgonto commented on #34
So the fix is changing from `recess` to `grunt-contrib-less`.

Sounds good

[2015-04-03 23:00] jacobscarter commented on #34
@mgonto about to push the fix and update the package

[2015-04-03 23:09] #34 closed

[2015-04-03 23:23] mgonto commented on #34
Great work @jacobscarter :). Thanks!

@kentcdodds can you update the sample for Angular-formly?

Cheers!

[2015-04-07 01:42] rpocklin opened #93 "Supporting route-driven wizard steps"
I've created a few wizards before in Angular.js, similar this one, but since this doesn't have routes integrated so when the user refreshes the page they will lose the context of which page their on :(

If it's out of scope for this directive that's cool, but I wanted to ask if this is in the plan at some point to see if you wanted to do it here rather than creating a separate directive.

To give

[2015-04-19 06:31] Dog opened #95 "Validation Not Firing"
I'm pretty new to Angular and I'm having trouble getting my validation functions to fire after reading through the documentation.

Here is my code on Plunker:
http://plnkr.co/edit/QR9mpXH67ErhUzAKmN4c?p=preview

I'm guessing its a scope issue?

[2015-04-22 04:41] LennyLip commented on #40
i think, css is not enough for this. With css "placement" we need also "target" to set position the bar relative to a specific target element (like in a angular-strap). What about if i want nav bar, that not fixed and relative to a specific target element?

[2015-05-06 18:29] mikehaas763 opened #98 "Release as a UMD module for use with AMD and other loaders."
I use ES6 and like to import modules and use the .name property to depend on them.

[code]

If this library was published as a UMD library it would work in the browser, with CJS and AMD...and therefore with ES6 module through the use of system.js. The way it would make what I want to do work is to "export" the module for CJS and AMD. Otherwise just do nothing for the browser.

What are the chances

[2015-05-06 18:58] mikehaas763 commented on #98
I'll submit a PR adding this as a grunt build step if it is likely to be accepted? It should have no backward compatibility issues because UMD is meant to work as a global for browsers also.

[2015-05-06 20:35] mgonto commented on #98
Sounds good :). Looking forward for the PR.

Thanks Mike!

—
var signature = { 
  name: "Martin Gontovnikas",
  title: "Software Engineer",
  twitter: "twitter/mgonto",
  github: "github/mgonto",
  linkedin: "linkedin/mgonto"
};

On 6 de mayo de 2015 at 11:58:08, Mike Haas (notifications@github.com) wrote:

I'll submit a PR adding this as a grunt build step if it is likely to be accepted? It shoul

[2015-05-11 00:17] Dog commented on #95
I still don't know why this isn't working.

[2015-05-11 20:39] YidingW commented on #40
For chaning it to top. I don't think css fixed is the solution.

Solution:

Inside angular-wizard.js file, move **\<ul> html** from bottom to above of **div with class "steps"**. So the steps nav will generate before the steps section. So steps nav will show on top of the steps section.

[2015-05-13 17:06] mikehaas763 commented on #98
FYI I'm still going to do this... just in the middle of a move so I've been busy.

[2015-05-14 01:52] jacobscarter commented on #95
Hey @Dog I will check out your Plunker tonight and get back to you

[2015-05-14 01:56] jacobscarter commented on #95
@Dog I looked at your plunker and replaced your angular-wizard.js file in rawgit with the newest version from the repo and everything works.

Please update the dependency in your project and let me know if that fixes it.

Thanks

[2015-05-14 02:00] jacobscarter commented on #93
@rpocklin would you be able to submit a Pull Request?

[2015-05-15 18:15] Dog commented on #95
I found I was able to get it to work by pasting the url for the latest file on GitHub to rawgit, however when I tried to replace my link and script tags to the ones on the project description, the library didn't work. I'm not sure why that would happen.

[2015-05-16 03:22] jacobscarter commented on #95
@mgonto do you need to re submit the recent versions of the project to jsDelivr?

[2015-05-18 09:48] lassecph opened #99 "Focus input field when step is visible"
I have tried both with a custom "focus" Angular directive and pure Jquery "focus" but nothing seems to focus to a specific input when a step becomes visible. Is there a way to do this?

[2015-05-19 22:24] rpocklin commented on #93
If I did, it would be a large PR and couple this library to **ui-router**.  If you're happy with that i'll fork it and have a go but only if it's probable to be accepted as a way forward.  Much of the view-switching logic will change.

With the angular-new-router being finalised, the decision becomes harder :)

[2015-05-21 19:09] tyagideepak opened #101 "Can 0.4.3 be published in npm"
Can 0.4.3 be published in npm

[2015-05-22 02:45] tyagideepak opened #102 "can scope for canexit and canenter be made to method(&) instead of object(=)"
can scope for canexit and canenter be made to method(&) instead of object(=)

[2015-05-22 04:55] jacobscarter commented on #102
+1 on this, give me a few days to implement

[2015-05-22 04:56] jacobscarter commented on #102
+1 on this, give me a few days to implement

[2015-05-23 08:37] #99 closed

[2015-05-26 15:48] YidingW commented on #4
Is there any wan to animate the steps navigation? For example, fade-in when first load?

[2015-05-28 01:57] jacobscarter commented on #101
It has been updated, thanks.

[2015-05-28 01:57] #101 closed

[2015-05-28 01:57] jacobscarter commented on #85
It is updated to 0.4.3 now, thanks.

[2015-05-28 01:57] #85 closed

[2015-05-28 02:21] jacobscarter commented on #102
@tyagideepak on second thought I think this would not be a good move.

Here is my thought behind it.  The canexit and canenter attributes take a function that is called when you try to leave or enter a certain step.  This function automatically has a context object passed into it by the Wizard that you can access and use logic to check if certain data that is required was input into a certain step

[2015-05-28 02:21] #102 closed

[2015-05-28 02:24] jacobscarter commented on #93
@rpocklin All good points, I think for now this might be a nice improvement for the future, perhaps when/if we re address this wizard for Angular 2.0

I will close the issue for now.

Thanks.

[2015-05-28 02:24] #93 closed

[2015-05-28 02:25] jacobscarter commented on #98
Okay @mikehaas763 looking forward to it!

[2015-05-28 02:56] jacobscarter commented on #90
@RyanDale thanks for the PR, I merged it and made the following changes in case you are interested:

Line 153 I moved it so canExitStep runs before canEnterStep

Line 188 and 211 I passed in `$scope.context` in as an argument, otherwise this context object was only available if you were using promises.

Thanks again!

[2015-05-28 02:56] #90 closed

[2015-05-28 02:56] jacobscarter commented on #81
version 0.5.0 released

[2015-05-28 02:56] #81 closed

[2015-05-28 15:20] RyanDale commented on #90
@jacobscarter thanks for merging it in, good catch on both of those issues. The one thing I didn't do was update the documentation so I'm planning on doing that within the next few days.

[2015-05-28 15:34] jacobscarter commented on #90
@RyanDale I updated the readme file yesterday, go ahead and give it a read and let me know if you think it should have more detail or if I left anything out

[2015-05-29 16:58] Ehesp opened #103 "Cannot read property 'goTo' of undefined"
I'm trying to set which step I want to start on manually, and the docs say:

[code]

I'm using the `WizardHandler.wizard().currentStepNumber()` within functions in my controller which works, but when calling `goTo` on controller load, it gives me the error `Cannot read property 'goTo' of undefined`.

[code]

Step is `1` in this case. Anyone know why?

[2015-05-29 19:17] Ehesp commented on #103
Had to watch for the wizard to be initialised:

[code]

[2015-05-29 19:17] #103 closed

[2015-06-03 01:47] jacobscarter commented on #95
@Dog I just sent the updated files to jsDeliver, they should be up shortly.  The README.md file has been updated to reflect the new CDN URL.

Thanks.

[2015-06-03 01:47] #95 closed

[2015-06-04 16:05] AquilaSagitta opened #104 "Empty context object - using controllerAs syntax"
Documentation isn't very clear on how to use or what actually gets bound to the context object.

I'm using controllerAs syntax with ng-model. The input values are being attached to the scope but the context object is still empty.

My goal is to validate that the inputs are not empty.

Edit: Also validation function (in canexit) fires twice.
Edit2: canexit function doesn't fire with wz-finish direc

[2015-06-04 16:35] jacobscarter commented on #104
You set whatever you would like for values in the context object.  For example, lets say step 1 has an exit validation and your step two has an enter validation like so:

[code]

[2015-06-04 16:39] AquilaSagitta commented on #104
Oh I have to set it explicitly. Thought context grabbed the scope object.

[2015-06-04 16:44] jacobscarter commented on #104
No it needs to be set explicitly, I will try and make this more clear in the documentation.

Thank you.

[2015-06-04 16:44] #104 closed

[2015-06-04 17:00] AquilaSagitta commented on #104
Is there a way to bind to context directly from template?

[2015-06-04 17:10] jacobscarter commented on #104
I would have to test in some things but you could set it equal to $scope (or this)

[2015-06-04 17:15] AquilaSagitta commented on #104
TBH I don't really see a point to the context object since the directive isn't using an isolate scope. Its basically just another scope but with less functionality.

[2015-06-04 18:07] jacobscarter commented on #104
It's there as an option, you don't have to use it if you prefer another method.  Thanks for your input

[2015-06-08 08:23] C00per opened #106 "wz-cancel and canexit attributes for wzStep are not working"
Hi,
It is strange that these attributes are not working.
"wz-cancel" always go on previous step
"canexit " is not executed. I tried to set to "false" - but no luck.

Actually I want to restrict go to the previous steps on the last step. Also on the last step I want to add a button to restart wizard (i.e. start from the fist step and mark all others steps as incompleted, as after the page was loade

[2015-06-08 18:14] jacobscarter commented on #106
@C00per you are correct, cancel was calling the same function as previous.  Since the documentation says cancel takes you to the first step I changed it to do so with version 0.5.2

In regards to canexit not working, we have unit tests showing it works as well as my personal tests, can you post a Fiddle of your code where it does not work.

You can restrict going to a previous step on the last ste

[2015-06-08 21:43] C00per commented on #106
@jacobscarter
Thank you for your answers.
1) From my point of view it is correct to set other steps to incoplete after cancel. I'll add button with ```wz-cancel``` to restart wizard for uploading another file if the current file has errors or in the last step. Anyway is there any another way to do it? I was thinking about toggling ```ng-if``` directive as a workaround.
2) It was not obvious for me

[2015-06-11 08:51] svenmeys opened #107 "Css file not detected by automation tools"
When using this module with a building tool, the CSS is not being detected because it is not included in the bower.json file.

Proposed pull requests #87 and #96 resolve this.

[2015-06-11 15:27] jacobscarter commented on #107
latest build (v0.5.3) fixed this, thanks.

[2015-06-11 15:27] #107 closed

[2015-06-14 18:10] psychowico opened #108 "Loadash version upper limit"
`"lodash": ">=1.3.0 <2.5.0"`

is upper version really needed here? it looks like project work with newest version of lodash.
but I can't install it from directly from your repository cauze I use `lodash` in version 3.4.0.

[2015-06-23 08:30] maherAshori opened #110 "current-step"
Hi
How i can get the CurrentStep in my page?

i did this, it's wrong ? (i need step by number not title)
< wizard current-step="X" > ... < /wizard >

[2015-06-23 08:53] Teun87 opened #111 "IE issue: steps are clickable while the active step is not completed yet"
Dear sir,

I've still got the issue that I can click on further steps while not completed the active step yet. The problem is rising in IE9>. Can you please solve this or maybe you've a solution/workaround?

Kind regards and thanks,
Teun

[2015-06-23 21:39] jacobscarter commented on #110
The way you mentioned above returns the step name.  To get the step number you can access the WizardHandler service in your controller.

[code]

[2015-06-23 21:39] #110 closed

[2015-06-27 08:27] borgogelli opened #112 "Could we have a vertical navigation bar ?"
Could we have a vertical navigation bar ?

Regards

[2015-06-29 15:00] jacobscarter commented on #112
Hi @borgogelli.  In an attempt to keep our source code lean and because so many people prefer so many different styles we are not going to include multiple style variations in the repo.  The wizard does allow you do use your own custom template.  Please read the README.md for more information.

Thanks.

[2015-06-29 15:00] #112 closed

[2015-06-29 22:13] Inteligov opened #113 "doble invoke"
when use canexit in 'wz-step' , the associated function is executed twice

[2015-06-30 10:24] redhead commented on #108
:+1:

[2015-07-09 11:05] corneadoug opened #114 "canexit not working with controllerAs"
Hi,

I've been trying to use ``canexit`` using controllerAs but it never reached the function.

``ng-controller="myCtrl"`` and ``canexit=verify`` works
``ng-controller="myCtrl as wootCtrl"`` and ``canexit=wootCtrl.verify`` doesn't work :(

[2015-07-23 15:50] narangrishab opened #115 "Error using goTo"
TypeError: Cannot read property 'canenter' of undefined
    at Scope.a.goTo (assets/plugins/angular-wizard/angular-wizard.min.js:7)

When I click on the Tabs, it shows error.

[2015-07-27 08:41] shijukbabu opened #116 "Remove dependency for lodash.js"
When I dont import lodash.js I get the following error

<pre>
ReferenceError: _ is not defined
    at Object.fn (angular-wizard.js:103)
    at Scope.$get.Scope.$digest (angular.js:15685)
    at Scope.$get.Scope.$apply (angular.js:15953)
    at done (angular.js:10366)
    at completeRequest (angular.js:10538)
    at XMLHttpRequest.requestLoaded (angular.js:10479)
</pre>
I'm using AngularJS 1.4.2 an

[2015-07-28 01:31] rafaelfragosom commented on #116
@shijukbabu I'm not sure if I follow your question... because every dependency you add to your project comes with more dependencies... it's kinda inevitable.

Regarding your error, by the logic, lodash is missing from angular-wizard dependencies as you pointed, can you tell me the steps to reproduce this error?

[2015-07-28 09:02] shijukbabu commented on #116
Just remove the dependency for lodash. You will get this error. I understand I need to import lodash. I just asking if I don't want to use lodash how to change the script?

[2015-07-28 13:49] rafaelfragosom commented on #116
@shijukbabu If you look at the source code, the whole script's using lodash. Maybe @mgonto could extract the lodash methods he's using and make them JS native?

But anyways, lodash is so helpful and fast, even faster than native JS in some cases. You could definitely use it in your advantage.

[2015-07-28 15:46] shijukbabu commented on #116
I was just thinking of a directory which is not much depend on other libraries. So I asked. It's fine anyway.

Also it's not mentioned in the README that it depends on lodash. I didn't understand why it was not working. And Google for errors. Then I had to check the demo page and checked using view source code. Will be better if it's mentioned. So nobody will be confused. :smile:

[2015-07-28 17:55] rafaelfragosom commented on #116
@shijukbabu Agreed, but you can always read the source code or at least the `bower.json` or `package.json`. I'm here to help.

[2015-07-29 07:52] timmaybrown commented on #82
+1 for this enhancement.

[2015-07-29 07:54] timmaybrown commented on #78
Definitely being able to customize the indicators placement and style via provider would be awesome. If I hack it I'll try to submit a PR.

[2015-08-03 07:39] redhead opened #117 "Step identifier other than title"
We use localization for titles and some of the step titles are quite complicated (long with spaces, including accented characters and so on) to be used as an identifiers for the step (e.g. current-step attribute). I think it would be great to add some kind of ID which is NOT the title of the step and use it instead of the title to point to a step (e.g. in a `goTo` or `current-step`).

    <wizard

[2015-08-03 14:54] redhead opened #118 "How to load a wizard in the last state."
I am creating a form in a wizard that is saved on each step. The user can go away and then come back to the wizard at later time. How can I get angular wizard to show on startup the step I want (on the one user left) and to set the selected property of steps before as completed?

[2015-08-04 13:08] brunnot commented on #113
I found the problem, but no solution yet.
The problem is that the component calls 2 times the same function, one to check if it's a PROMISE and another to check if it's BOOLEAN.

If you just use return as PROMISE will work fine.

canExit = step.canexit($scope.context);
if(angular.isFunction(canExit.then)){
    ....
}
 return step.canexit($scope.context) === true;

tks
Brunno

[2015-08-04 16:15] jacobscarter commented on #118
You would have to save the step number somewhere (database, localstorage, wherever you want) and then when your controller loads you would need to check and see if you have a step stored, if you do utilize the `WizardHandler.wizard().goTo(stepNumber);` method to switch to that state.

[2015-08-04 16:15] jacobscarter commented on #117
I will add this to my next push, trying to find time to get all of these issues and pull requests handled, ill update you when I have a due date

[2015-08-04 16:17] jacobscarter commented on #116
There is a pull request from a while ago that removed lodash since we are only using it for one method.  I will merge that PR as soon as I can and this wont happen again in the future.

Thanks.

[2015-08-04 16:18] jacobscarter commented on #115
@narangrishab  Can you create a fiddle?

[2015-08-04 16:18] jacobscarter commented on #114
@corneadoug  Can you create a fiddle?

[2015-08-04 18:44] corneadoug commented on #114
Sure, I will do

[2015-08-04 19:16] corneadoug commented on #114
I just successfully used it, I guess I was doing something wrong in my controller (not using this.functionName maybe)

[2015-08-04 19:16] #114 closed

[2015-08-04 20:33] redhead commented on #118
Yes, I've read that in docs. But this way, the steps before the step I want to go to are not set as completed.

[2015-08-04 22:56] jacobscarter commented on #114
glad you got it resolved

[2015-08-04 22:57] jacobscarter commented on #118
@redhead
I have experienced frustration with this issue myself, I think I will add a feature that turns of sequential steps.  So you can bounce around to any step you want in any order.  Would this solve your problem?

[2015-08-05 06:08] narangrishab commented on #115
'use strict';

/* Controllers */

angular.module('app', ['mgo-angular-wizard'])
    .controller('FormWizardCtrl', ['$scope', 'WizardHandler', function($scope,WizardHandler) {

         $scope.finished = function() {
            alert("Wizard finished :)");
        }

        $scope.logStep = function() {
            console.log("Step continued");
        }

        $scope.goBack = function() {

[2015-08-05 14:24] redhead commented on #118
I guess.

Also, I think it would be awesome to add some API to get and alter states programatically. For example a method `getStep(2)` and be able to change `completed` property of it and such.

Also I ran into problem with triggering action once the wizard has moved to some step, because the inner promise (that `all`s canenter/canexit promises) is never returned, and so disabling me to have a `th

[2015-08-06 06:45] moneytree-doug opened #119 "Transition animation?"
Is there a way to add animations to transition between slides? For example, click next will have the next slide slide in from the right. Similarly, clicking back would have the current slide slide out to the right.

I want the animations to be directional aware.

[2015-08-10 07:43] jstensved commented on #61
Microsoft is moving away from Nuget towards npm and bower instead. Suggesting wontfix on this.

[2015-08-10 16:25] dkushner commented on #103
I'm also encountering this issue, and while I respect the hackery of @Ehesp's solution, I don't think this is a particularly nice way of solving this. Is there some reason the wizard instance is undefined as the controller runs? That doesn't seem consistent with what happens in any of my other directives.

[2015-08-11 08:33] 2wings commented on #35
it works~!require('lodash.underscore')

[2015-08-11 15:51] jacobscarter commented on #35
The issua of lodash has been brought up several times, I plan on removing the dependency in the next push

[2015-08-12 21:06] dsaf commented on #61
@jstensved only for legacy code though (JS, CSS etc.) as far as I understand. .NET code will still be using NuGet. But yeah, can be closed I guess.

[2015-08-12 21:06] #61 closed

[2015-08-13 12:19] xvitcoder opened #121 "Reset the wizard programatically"
Nice wizard, but how to reset the wizard programmatically?
It would be nice to have WizardHandler.wizard().reset() function that will reset the wizard and all its' values.
It would be very helpful when using wizards in a Bootstrap Modal Dialog. When the user press cancel button, the dialog with the wizard is closed, but there is no way to reset the entered values and allow opening the dialog one m

[2015-08-13 12:22] xvitcoder opened #122 "wz-next, wz-previous and wz-finish outside wizard forms"
It would be nice to have the next, previous and finish buttons outside the wizard forms. For example when using this wizard in the Bootstrap Modal Dialog, the buttons must be in different DOM tree level.

[2015-08-13 17:18] jacobscarter commented on #121
Hi @xvitcoder.  If I understand your question correctly, I don't think this is the responsibility of the wizard.  The wizard is meant to allow you to create steps that can be validated and navigated.  There is no restriction to the data that you collect or provide within each step.  The wizard is also not inherently aware of the data in each step.

If you want to reset data you would be able to do

[2015-08-13 17:18] #121 closed

[2015-08-13 17:21] jacobscarter commented on #122
@xvitcoder can you give me an example here? Perhaps put up a CodePen or something.

I use the wizard in Bootstrap Modals all the time and have not had an issue with the next and previous buttons, Keep in mind that you do not have to use the modal footer, you can put everything in the modal body section and mimic the look of a footer with CSS.

You also have access to the next and previous command

[2015-08-15 07:12] kocsenc commented on #117
+1 on this one. I'll try to take a jab at it.

[2015-08-15 07:16] kocsenc commented on #79
So is this closed then @ttbarnes ?

[2015-08-15 09:02] ttbarnes commented on #79
@kocsenc No there needs to be a PR, personally haven't been able to yet.

[2015-08-16 08:03] shayhz opened #123 "By default the wizard UI is displayed at the bottom, is it possible to move it to the top ?"

[2015-08-16 17:08] jacobscarter commented on #123
Hi @shayhz, if we move the wizard to the top by default some will want it on the bottom and vice versa.  So we will just leave it where it is.  You can move it to the top with custom css to overwrite the default.  Here is an example of what that would look like:

    .steps-indicator {
      top: 0;
      position: absolute;
      ......
    }

[2015-08-16 17:08] #123 closed

[2015-08-16 17:08] jacobscarter commented on #122
@xvitcoder does that answer your questions? I am marking this ticket to be closed unless you have further questions

[2015-08-16 17:13] jacobscarter commented on #115
@narangrishab Can you make a fiddle so I can play around with it? I think I see the issue but I would know for sure if I could click around.

[2015-08-16 17:14] jacobscarter commented on #108
This will be fixed when we remove loDash dependency, should have it up later today.

Thanks.

[2015-08-16 18:06] #122 closed

[2015-08-16 18:07] xvitcoder commented on #122
Yes, all is clear now

[2015-08-17 09:16] donnguyen commented on #42
@jacobscarter I think there still is someone here waiting for your solution! ;)

[2015-08-17 20:13] disnoa opened #124 "How add/change a class to the ng-class directive step?"
I would like to add and change an error class to the step indicator. How can i do that?

[2015-08-18 13:21] disnoa commented on #119
You can do that with angular animated. The effect will looks like this -> https://gyazo.com/759f4417797bc11a34c800484fdf895d

[2015-08-19 02:40] moneytree-doug commented on #119
@disnoa That link leads to a 403

[2015-08-19 12:24] disnoa commented on #119
Ops!, sorry! https://gyazo.com/4e9491ce95826c5537387850803120c6

[2015-08-21 12:39] nomoreboredom commented on #4
This does the trick:
.step.ng-hide {
    opacity: 0;
}
.step.current {
    opacity: 1;
	transition: all 1s ease-in-out;
}

[2015-08-22 15:21] AndyHoang opened #125 "add step to url"
Hi,
I read this issue: https://github.com/mgonto/angular-wizard/issues/93
What I want to do is quite different a little bit.
in the wizard my url `base/wizard` when I click next I try to add the param `base/wizard?step1` by using $location.
But after the ng-click event, the url was redirect to my default ui router state.
What I want is when I copy the link `base/wizard?step1` to a new tab, it will

[2015-08-22 16:52] jacobscarter commented on #125
@AndyHoang  Could you make a Fiddle as an example?

[2015-08-22 17:07] #124 closed

[2015-08-24 07:07] moneytree-doug commented on #119
@disnoa That only has 1 direction for transition. In your example, the back animation should be the reversed animation of the next.

[2015-08-28 07:01] nagendertank opened #127 "Not able to watch the elements inside wz-steps"
Hi i am new in angular and unable to watch the changes inside wz-steps directive with $scope.$watch method. Please let me know if i need something to track the changes.

[2015-08-28 16:35] jacobscarter commented on #127
Can you make an example of what you are trying to do with JSFiddle.  Thanks!

[2015-09-02 06:49] TimMcCauley opened #128 "Wizard Progress Bar on Top"
Is is actually possible to change the position of the wizard progress bar to the top instead of bottom?

[2015-09-02 07:06] TimMcCauley commented on #128
I used this template and it works:

[code]

[2015-09-02 07:06] #128 closed

[2015-09-09 13:45] TheBekker opened #130 "Cannot read property 'title' of undefined when adding model to current-step attribute"
Im generating my wizard with ng-repeat over a model like this quick example

Code:

    function FormEcController(is, WizardHandler) {
        var vm = this;

        vm.wizard = {
            formWiz: {},
            currentStep: {}
        }

        vm.model = {};
        vm.options = {};
        vm.steps = new Array();

        var step1 = {
            title: "step title",
            header:

[2015-09-09 16:20] jacobscarter commented on #130
Hey @TheBekker I have a few questions.  Was the wz-disabled there before it threw errors? Is the code `wz-disabled="step.hideExpression()}}"` like that in your code or did you just type it wrong (there are two }} at the end of the expression)?

In regards to the `name` attribute.  This attribute is attached to the directive scope via `@` which is a one way or read only binding.  This means you wil

[2015-09-09 17:44] TheBekker commented on #130
Hi

The wz-disable was just a type here.
I just tested without defining the currentStep as object (tried as undefined and as string), and that fixed. Apparently it doesn't overwrite it on load, if its defined as object?

But that helped, thanks!

[2015-09-09 17:57] jacobscarter commented on #130
No problemo

[2015-09-09 17:57] #130 closed

[2015-09-12 07:56] maseev opened #132 "Get the number of steps"
Hi there! I've noticed that angular-wizard API lacks of a function that can return the number of steps. It would be very helpful for those who develop their custom components that are using your angular directive. For example, I've run into the problem recently when I don't know how many steps there would be, because it (the number of steps) depends on what options a user would choose.

[2015-09-15 21:31] joseym commented on #78
Its fairly easy to make this happen via a decorator

__Add an Attribute to allow for position assignment__
[code]

__Default to your own template__

_(default template is overwritten in the above decorator)_

[code]

__Now you can add an attribute to your wizard to specify step indicator__

[code]

[2015-09-27 11:23] odyright commented on #128
Hello @TimMcCauley! wich file did you edit?

[2015-09-27 11:35] TimMcCauley commented on #128
@odyright , just add a template file with that code and embed the path in your element

```<wizard template="/pages/wizard.html"> ```

[2015-09-27 11:49] odyright commented on #123
Great

[2015-09-27 13:35] odyright commented on #128
thx, @TimMcCauley! Excuse me but I don't understand your process, Could You do it from scratch ?

[2015-09-28 06:24] TimMcCauley commented on #128
@odyright : insert the HTML into ```wizard.html```

[code]
And add the path in your ```wizard```element like so:

[code]

[2015-09-28 23:17] odyright commented on #128
ok @TimMcCauley

[2015-10-01 14:58] cmnstmntmn opened #135 "how to extend wzStep directive?"
i wand to add the **step-description** as an attribute to  [wzStep](https://github.com/mgonto/angular-wizard/blob/master/src/step.js) directive

[code]

i try using a decorator .. but i don't know about configurator provider for this directive ..

[code]

but it doesn't work

[2015-10-01 18:01] jacobscarter commented on #135
Hey @cmnstmntmn I have little experience with using decorators in Angular 1.x, my understanding is that you can use them to monkeypatch Services, I am not familiar with using them to alter Directives, I could be wrong.  I know that when you create a Directive it creates a Provider for it, but I dont know if you can decorate that or not, Sorry I dont know how much help I can be.  I would just chang

[2015-10-01 19:20] cmnstmntmn commented on #135
[code]

it worked

[2015-10-05 14:58] MotherCake commented on #113
I'm facing the same problem. But I'm using PROMISE and get this error "Cannot read property 'then' of undefined" at the same lines brunnot descriped. Is there any fix or workaround?

[2015-10-06 18:33] j-hernandez commented on #113
@MotherCake

This is only a band-aid - if you review @brunnot's comment, note the line:

[code]

Change that line to
[code]

It doesn't solve the double invoke, but it does get around the Cannot read property issue. If I have some time this week I'll debug further and see if I can submit a patch. Up against a deadline and only just came across this bug so for now, just making it work.

[2015-10-07 19:11] marcingrabda opened #137 "Validation within a nested step"
I have a nested directive with a form as a part of a step. I want to validate on exit using 'canexit'. What are the options to communicate with the nested directive?

[2015-10-08 04:17] jacobscarter commented on #137
@marcingrabda Can you give me a code example of JSFiddle?  It's hard to say how to pass scope around without knowing more information.  Is this nested directive inside angular-wizard another wizard or is it a custom directive?

[2015-10-09 03:18] marcingrabda commented on #137
The question is actually quite generic, but maybe it will influence the framework design.

[code]

I have something like this and I see that it's not possible to currently call a method from 'stepOne' directive as 'canexit' handler. Not sure, if it's possible to provide any alternative at all.

Just sayin'.

[2015-10-14 19:23] franciscopuyo opened #138 "edit-mode directive is only one way binding"
Hi, I am creating a wizard for edition and creation. And depending of what the user is doing I should set if it is in edit mode or not.

The fact is the attribute edit-mode is only one way bound so if I first create an entity it starts with editMode set on false, but if after it I want to edit another entity, editMode can't change to true.

I've tried with edit-mode="{{editMode}}" but it doesn't w

[2015-10-19 17:01] franciscopuyo opened #139 "How to know in which step I wanna enter"
I'm trying to do the following:
A list of steps with one form on each. The fact is my canenter function should validate if all previous forms are valid to the step i want to enter, not only the current one.
PD: I'm handling forms status in an array ($scope.validSteps = [true, true, false, ... )

[2015-11-04 12:38] redhead commented on #116
What's the status of this issue? We would love to get rid of lodash all together.

[2015-11-10 05:36] joshting commented on #121
I also support xvitcoder with regards to having a reset.  However, I come from slightly a different point of view.  Yes, its not the responsibility of the wizard to manipulate the data in each step.  By reset here, I mean going back to the first step and as if none of the following steps have been visited.  Currently, using cancel does not reset to the behaviour when the wizard first started. User

[2015-11-10 06:10] joshting opened #142 "adding reset"
Hi all,
I have never contributed to the open source repository.  When using angular-wizard, I found that cancelling does not clear "completed" steps.  Therefore, I need to add a reset function:

            //reset
            this.reset = function(){
                //traverse steps array and set each "completed" property to false
                _.each($scope.getEnabledSteps(), function (step) {

[2015-11-12 16:57] fabn commented on #108
Any news on this. This is a big limit for me.

[2015-11-20 04:35] tymat commented on #142
+1

[2015-11-21 13:10] amirkheirabadi opened #143 "errror in template loading"
when i try use mgo-angular-wizard this return error me ....

ET http://.../wizard.html 404 (Not Found)
ET http://.../step.html 404 (Not Found)

how i can disable external view and use internal view for this .????

[2015-11-23 08:56] geostima commented on #76
any updates on this issue yet?

[2015-11-23 09:16] geostima commented on #78
you can simply use css to put the steps container above the wizard. Way quicker and easier. :)

[2015-11-23 09:24] geostima commented on #40
for most purposes editing the angular-wizard.js file will do the trick, but for some projects where deployment are done using bower and the like, this file is automatically downloaded and decoupling it from the project just to have this is too hacky. I had an instance of this exact issue. My solution was quite simple. CSS. It was more than enough to get everything working as it should and have the

[2015-11-23 11:59] fridjon commented on #108
This is also an issue for me. What is the reason for limiting the version of lodash to be below 2.5.0? Is there something specifically in lodash 2.5.0 that would break things?

[2015-11-23 15:33] vketsenko opened #145 "canexit called twice when returning boolean"
If canexit function returns true\false, it is always called twice.
Reason: bug in wizard.js, line 168
`return step.canexit($scope.context) === true;`
should be replaced with
`return canExit  === true;`
because step.canexit has already been called on line 160

[2015-11-27 00:00] gugahoi commented on #119
+1 for animations. Custom animations and not just sliding would be awesome.

[2015-11-29 14:08] tymat opened #146 "use ngLodash instead of _. for lodash"
This is broken in nwjs/electron based HTML5 apps because _.  does not work in nodejs/nwjs/electron.

I got it to work on my branch using ngLodash inside the directive.

[2015-11-30 16:25] morissette opened #147 "Only shows the first 3 steps:"
My wizard does not show past the third step..... no errors in console....

View:
[code]

Controller:
[code]

[2015-11-30 16:33] morissette commented on #147
[code]

Typos; destroying your work everytime!

[2015-11-30 16:33] #147 closed

[2015-11-30 21:15] morissette opened #148 "wz-next="function", function is never executed"
Description:
I am showing no execution of any function passed to wz-next, either in $scope.function or traditional function func() declarations. Both are simple functions that just log to the console yet nothing is logged.

Angular: 1.4.6

Javascript, controller and module:
[code]

View and directive:
[code]

[2015-12-01 10:07] ElielHaouzi commented on #145
+1

[2015-12-01 14:46] morissette commented on #148
Additionally it appears that wz-next cancels out ng-click methods

[2015-12-01 17:44] morissette commented on #148
I don't like it but I went with the following solution while hoping for a more angularly way of solving my problem:

[code]

[2015-12-03 19:55] WaitWut commented on #142
+1

Thanks joshting

[2015-12-04 10:42] psychowico commented on #108
@jacobscarter this limit is still there.

[2015-12-09 05:06] bradleybossard commented on #145
+1 I would like to call a toastr nofication in this function if the step does validate, but current it keeps getting fired twice.

[2015-12-09 15:47] vketsenko commented on #145
bradleybossard, as temporar solution you may return promise instead of boolean. It works correctly with promises.
`return $q.when([]);`

[2015-12-13 08:36] aaronucsd opened #149 "What if i want the step of each page on the bottom?"
<img width="324" alt="screen shot 2015-12-13 at 12 36 02 am" src="https://cloud.githubusercontent.com/assets/8840761/11766201/96d122ac-a131-11e5-8a19-0f2a31fadfa3.png">

[2015-12-16 04:29] codeyad opened #150 "Issue with ngOptions"
when i use ngOption inside the wizard the model doesnt change when i select any of the elements, please tell me if you have a solutoin for this.

[2015-12-18 02:40] libin85 commented on #40
How do i move the navigation bar to a separate div? I want the navigation var to be on a separate div that will be on the right hand side of the wizard.

[2015-12-21 14:13] sarhselim opened #151 "Remove Navigation bar"
how can i prevent Navigation bar from display ?

[2015-12-21 15:04] #151 closed

[2015-12-22 13:50] nishithchaturvedi commented on #41
Is the latest version availlble?

[2015-12-22 14:53] nishithchaturvedi opened #152 "Not able to get value of form item in my controller"
I am using this plugin and everything works fine except : I am not able to get any ng-model's value in my controller. I am creating 3 level form and each step has one form . when I tried to save form input's value using $scope.firstname(for example) its not getting value in controller.

Please advise

[2015-12-24 06:17] jacobscarter commented on #152
Can you post a JSFiddle or Plunkr showing your code?

[2015-12-24 06:18] jacobscarter commented on #150
Can you post an example of JSFiddle or Plunkr so I can see your code

[2015-12-24 06:19] jacobscarter commented on #149
You can change the styles by over writing them in your own custom css file. But I'm not sure what you mean because the steps are at the bottom by default.

[2015-12-24 06:19] #149 closed

[2015-12-24 06:30] jacobscarter commented on #148
So that is the way it's done, wzNext or any of the wz buttons do not take functions as arguments, they do not take arguments at all.  If you want custom action on a button hook it up to a ngClick (which it looks like you have) and finish it with the WizardHandler Service (as you have done).

[2015-12-24 06:38] jacobscarter commented on #145
Looking into this, want to make sure fixing the double call doesn't break other functionality.

[2015-12-24 06:39] jacobscarter commented on #143
The `<wizard></wizard>` directive takes a template attr.

`<wizard template="path/to/temp.html"></wizard>`

[2015-12-24 06:39] #143 closed

[2015-12-24 06:40] jacobscarter commented on #142
I can add this feature, note that we cannot clear out your models you use within the wizard but we can change step completion statuses

[2015-12-24 06:45] jacobscarter commented on #139
you write your own `canenter` function that returns true or false letting someone move to the next step.  If you want to check previous steps before allowing someone through, then do that.  You can access the other steps data via your controllers scope or using the context object available to you.

https://github.com/mgonto/angular-wizard#wizard-step-validation

[2015-12-24 06:45] #139 closed

[2015-12-24 06:46] jacobscarter commented on #138
Can you elaborate on this example or provide a code example.  I'm not sure I know what you are getting at.

[2015-12-24 06:48] jacobscarter commented on #132
This can be added, with the enable disable feature it will probably be get the number of enabled steps

[2015-12-24 06:49] jacobscarter commented on #125
This would be a great feature, there are some things to consider (e.g. jumping to a step that had validation of previous steps, something that works with all routers not just uiRouter for example, etc.) I would like to add this but don't know if it will make the next release.

[2015-12-24 06:50] jacobscarter commented on #119
Working on it, don't know if it will make next release but its in pipeline

[2015-12-24 06:52] jacobscarter commented on #146
#116

[2015-12-24 06:52] #146 closed

[2015-12-24 06:55] jacobscarter commented on #117
@kocsenc you ever write any code for this? If not I can add the ID attribute in the next release.

[2015-12-24 06:58] jacobscarter commented on #113
Working on this from other ticket

[2015-12-24 06:59] jacobscarter commented on #148
Also see #113

[2015-12-24 07:00] jacobscarter commented on #111
I'll have to test this in the respected browsers to trouble shoot

[2015-12-24 07:00] jacobscarter commented on #108
@psychowico I have it scheduled for next release that will be done by Jan 1 2016.

[2015-12-24 07:01] jacobscarter commented on #108
See #116

[2015-12-24 07:05] jacobscarter commented on #106
Reset button scheduled for next release. See #142

[2015-12-24 07:06] jacobscarter commented on #91
You can do all of this depending on how you nest your controllers and access scope.  This is more up to how you design your architecture than the wizard.

[2015-12-24 07:06] #91 closed

[2015-12-24 07:06] jacobscarter commented on #80
Will look into after next release.

[2015-12-24 07:07] jacobscarter commented on #79
I will add an option to turn off tooltip on next release.

[2015-12-24 07:09] jacobscarter commented on #78
We always suggest writing your own custom CSS but I see the value of actually moving the steps in the DOM to be before the container.  If you submit a PR I will happily merge, but I will close this ticket for now.

[2015-12-24 07:09] #78 closed

[2015-12-24 07:10] #77 closed

[2015-12-24 07:11] jacobscarter commented on #76
The buttons themselves dont have tooltips, the tooltip is only for the current step.  See #79, we will be adding a feature to disable tooltip but probably not to add ones to the buttons

[2015-12-24 07:12] #76 closed

[2015-12-24 07:13] jacobscarter commented on #62
enable and disable steps is now a feature in the published version that will solve this issue

[2015-12-24 07:13] #62 closed

[2015-12-24 07:14] jacobscarter commented on #45
Looking into this after next release, see #111

[2015-12-24 07:14] jacobscarter commented on #42
you can now enable and disable steps dyanmically

[2015-12-24 07:14] #42 closed

[2015-12-24 07:15] jacobscarter commented on #40
You can use custom css to overwrite or you can change the source files once you download.  With all the different possible ways people may want the HTML and CSS done we can accommodate them all :( We do try to make it easy to make changes though

[2015-12-24 07:15] #40 closed

[2015-12-24 07:16] jacobscarter commented on #24
closing due to inactivity, I will reopen if people still have questions

[2015-12-24 07:16] #24 closed

[2015-12-24 10:55] tymat commented on #116
Thanks.

[2015-12-24 15:13] kocsenc commented on #117
@jacobscarter I wish I did. But sadly no.

[2015-12-24 15:38] jwuliger commented on #145
I spent hours wondering what was going on before I say this post. @vketsenko thanks for the tip! For anyone who wants a working work-around here is my exitValidation function when dealing with form input.

[code]

[2015-12-25 00:29] jacobscarter commented on #145
corrected and in next release

[2015-12-25 00:29] #145 closed

[2015-12-25 00:30] jacobscarter commented on #113
corrected and in next release

[2015-12-25 00:30] #113 closed

[2015-12-25 00:41] jacobscarter commented on #138
@franciscopuyo I found a problem that only allowed edit mode to be toggle once, I corrected it and it will be in the next push.

[code]
[code]

This will work

[2015-12-25 00:41] #138 closed

[2015-12-25 00:47] jacobscarter commented on #148
@morissette I just pulled everything down and tested it out.  Using this syntax:

[code]

myFunction is called.  Also adding an ngClick to this button also calls the ngClick method, however it would be very bad practice to do this, especially if timing matters.  I would assume that your problem lies in the scope of your `<wizard-use-cases></wizard-use-cases>` directive but without seeing it I coul

[2015-12-25 00:47] #148 closed

[2015-12-25 07:02] jacobscarter commented on #142
This is added and will be in the next push

[2015-12-25 07:02] #142 closed

[2015-12-25 07:06] jacobscarter commented on #106
Added and will be in next push

[2015-12-25 07:06] #106 closed

[2015-12-25 07:36] jacobscarter commented on #135
This has been added and will be included in the next push

[2015-12-25 07:36] #135 closed

[2015-12-25 07:39] jacobscarter commented on #132
This has been added and will be in next push

[2015-12-25 07:39] #132 closed

[2015-12-25 07:40] jacobscarter commented on #116
This has been added and will be in the next push

[2015-12-25 07:40] #116 closed

[2015-12-25 09:58] libin85 opened #154 "Navigation bar in a different div"
I managed to achieve changing the position of navigation bar within the same div as "steps" by editing the wizard html and css.

But how do I add the navigation bar to a different div. Not the same div as steps?

[2015-12-27 20:26] IshwaryaMullaiSelvapandian opened #155 "Unable to load Angular-wizard via webpack"
while adding angular-wizard using [Webpack](http://webpack.github.io). I get the below error in the console.

adding dependency :  `require('angular-wizard')`

Error in the console:
`Uncaught Error: [$injector:modulerr] Failed to instantiate module app due to:
Error: [$injector:modulerr] Failed to instantiate module {} due to:
Error: [ng:areq] Argument 'module' is not a function, got Object`

[2015-12-27 21:28] jacobscarter commented on #155
Can you past some code snippets, or better yet make a fiddle so I can see your code.

[2015-12-27 21:30] jacobscarter commented on #154
The module is designed to have the steps in the same DIV, to change this you will have to edit the source code in your project.

[2015-12-27 21:30] #154 closed

[2015-12-29 04:49] jacobscarter commented on #108
This had been removed and will be in the 0.6.0 release

[2015-12-29 04:49] #108 closed

[2015-12-29 06:26] aaronucsd commented on #149
NOt the steps like 'welcome', but see the content 'Hello John'. I want the content to be below the wizard steps. Right now, your demo shows the content and buttons on top of the wizard steps. How to swap the content to below?

[2015-12-29 06:34] aaronucsd commented on #149
How to move the div with the class 'steps' to be below the ul with class 'steps-indicators'?

[2015-12-29 06:41] aaronucsd commented on #149
Only way for it to work with css is like so. I was wondering if there is a more programatic way through a predefined attribute.

[2015-12-29 18:24] ankitprahladsoni commented on #155
I have an example for the issue

package.json:

[code]

webpack.config.js:

[code]

index.html:

[code]

index.js

[code]

[2015-12-29 18:48] ankitprahladsoni commented on #155
Looks like that because angular-wizard doesn't export the module as required by webpack, we have to include `angular-wizard` like a normal script tag. For that, I used `script-loader` and made the below changes to `index.js` file to work.

[code]

and now, the application is working as usual

[2015-12-31 16:24] jacobscarter commented on #79
hover no longer shows because we now use `wzTitle` you can always add a title attribute if you want hover effect

[2015-12-31 16:24] #79 closed

[2015-12-31 17:09] jacobscarter commented on #82
added and release, 0.6.1

[2015-12-31 17:09] #82 closed

[2016-01-03 23:52] aaronucsd opened #156 "How to swap the steps above the content?"
This is from issue 149 but now one is answering it correctly and it was closed.

https://github.com/mgonto/angular-wizard/issues/149

[2016-01-04 00:01] aaronucsd commented on #156
I think this is same as this one.
https://github.com/mgonto/angular-wizard/issues/128

[2016-01-04 00:28] aaronucsd commented on #156
ok. #128 was what i was looking for

[2016-01-04 00:28] #156 closed

[2016-01-05 20:38] guikubivan opened #157 "Specify current-step is used in conjunction with wz-title"
I spent a long time trying to figure how to update the current-step and I thought I could use the title attribute in wz-step, but finally figured out I have to use wz-title (by looking at the code). It would be handy to say this in the documentation.

[2016-01-07 08:41] Slettan opened #158 "Unlock steps that have been selected?"
Hi.

Is there any way to unlock steps that have been selected (but not necessarily completed)? If I complete step 1, go to step 2 and then back to step 1, I would like to be able to click on step 2 using the navigation bar.

[2016-01-08 04:35] jacobscarter commented on #158
Not currently.  This may be a suggestion for the next release.

[2016-01-08 07:40] jmorvan opened #159 "[BUG] titles do not appear under step anymore in 1.6"
Using latest CDN i recently had a bug where no labels would show under the steps.

manually switching to 1.5 solved it.

Seems like something broke in that area in the last release.

[2016-01-08 07:43] lonyel opened #160 "Error In bootstrap's ui-Modal"
When in bootstrap'e Modal window,report:
Error: ngTransclude:orphan
Orphan ngTransclude Directive

[2016-01-08 10:15] Adverse191 commented on #115
[code]

According to this code `goTo` uses only enabled steps. This was issue in my case.

[2016-01-11 11:28] ssuhat commented on #159
+ 1 experiencing this issue

[2016-01-11 18:07] appernetic commented on #159
Just recognized that the labels was gone. Could not find any local error in my code. What could have changed?
Heavy backend development. Don't have time with front end cosmetics right now, so switching to 1.5.

[2016-01-12 16:35] Frondor opened #162 "(building tools) stop grunt from including css file"
I certainly don't want to include `angular-wizard.min.css` file on my document, simply because I'm fully overriding it on my `main.css` file.
![](https://i.gyazo.com/08bc7330332fa58ff68ca20098417720.png);

So at the moment, I'm overriding `bower.js` just like

      "overrides": {
        "bootstrap": {
          "main": [
            "less/bootstrap.less",
            "dist/css/bootstrap.css",

[2016-01-20 14:33] glaidler opened #163 "goTo with step name isn't working"
Hi,

I have created a basic wizard, which I need to navigate via code.  When I try to execute WizardHandler.wizard().goTo('stepName'), I get

 Cannot read property 'canenter' of null
    at f (angular-wizard.min.js:7)
    at Scope.a.goTo (angular-wizard.min.js:7)

The step name is definitely correct, and if I use the index param rather than step name it works fine.

I'm using 0.6.1

[2016-02-03 15:21] malavshah opened #165 "How to get handle to navigation bar click"
Is it possible to get handle of navigation bar circular icon when User clicks on any step for modification?

Please let me know.

Thanks

[2016-02-05 11:57] graingert opened #166 "it would be nice to have a CHANGELOG (the current log is empty)"

[2016-02-05 16:16] tbloncar commented on #159
One way around this is to provide a wizard template that leverages the `description` property (rather than `title`). Something like this should work.

Template:
[code]

Wizard markup:

[code]

[2016-02-11 22:00] cristianstanescu commented on #159
It seems that specifying a title with either `title` or `wz-title` was removed and only `wz-title` kept since: https://github.com/mgonto/angular-wizard/commit/b37185f904506f0f5e7685db886466b826248c74#diff-218e72699d8aeae3725da9dcae6bd08dR47

I've replaced `title` with `wz-title` in the `wz-step` definition and also used just

    a[ng-click="goTo(step)"] {{step.wzTitle}}

instead of

    a[ng-clic

[2016-02-12 01:26] lolz0r commented on #150
@codeyad You likely have an issue with object scoping; change the object which you reference in the ng-model to be a sub-object of an object ... instead of "selectedOption" do "mydata.selectedOption"

[2016-02-18 02:02] Deepindera commented on #157
@guikubivan
How did you use the current-step. for me it is always null or '' or whetever i set it initially in scope

[2016-02-25 08:48] diego-vieira commented on #159
was struggling to find out why it broke after the update and no notice about breaking changes.
README still shows title instead of wz-title.

[2016-02-26 14:50] rsiebeling opened #169 "The last visited step is set to incomplete when going to some earlier step"
When I have a wizard with 4 steps and I am in step 3 and going back to step 2 then step 3 is disabled and I have to complete step two again in order to enabled step 3.

I find this strange because to come to step 3 I already had completed step 2, so when I go back to step 2  from step 3 I expect that I am able to go to step 3 again, but this is not possible.

[2016-03-03 06:01] aaronucsd opened #170 "All controllers and services for each wizard page is reloaded each time"
Everytime i load a page or go to next step of wizard page, all my controllers+services of each page and each step is called again. It should be just for the current page. But because of the way each page below is ng-include it will call again all the controllers+services for each include (welcome.html, data-sources, etc).

[code]

[2016-03-03 10:14] yzaroui opened #171 "Can't get wz-next="setMode(mode)" to work"
In a step, I put `wz-next="setMode(mode)"`, but where this setMode function must be?

[2016-03-04 09:49] #171 closed

[2016-03-09 12:46] miguelrcDEV commented on #165
+1

[2016-03-14 17:05] jackmitchelwidman opened #172 "Issue with step order when using ng-repeat"
I have a wz-step. After that wz-step I have another wz-step with an ng-repeat in it. After that (collection of) steps I have a final step. That final step keeps showing up as the second step instead of the last.

[2016-03-22 16:01] nmiddendorff commented on #163
I had the same issue. At some point they changed directive property from title to wz-title.

<wz-step wz-title="Step1">

Use wz-title and .goTo() should work fine.

[2016-03-25 16:56] createthis commented on #115
I think this happens when using title instead of wz-title. Someone needs to update the documentation. It still says title in places.

[2016-03-29 08:16] moneytree-doug commented on #166
:+1:

[2016-03-30 02:17] moneytree-doug opened #173 "wizard() is undefined in Angular 1.5.0"
Here is an example of it working in Angular 1.4.7 and an example of it breaking in 1.5.0:

1.4.7: http://plnkr.co/edit/7ZPBgqpPnbXF57rvezPf?p=preview
1.5.0: http://plnkr.co/edit/5Nh7EHLINDjMlaQ8dZbl

I `console.log`ed the results.

[2016-03-30 02:54] moneytree-doug commented on #173
Upon closer inspection, I believe this is an Angular "bug". I reported here: https://github.com/angular/angular.js/issues/14343

[2016-04-05 14:52] esoyke commented on #159
+1 Not a big deal for me to change title to wz-title, but the README should at least be made consistent, as diego-vieira pointed out. The code example shows title, yet the explanation below shows wz-title, which clued me to the fix.

[2016-04-11 11:19] moneytree-doug commented on #163
@nmiddendorff Wow, I really wish there was a changelog. Thanks for documenting this. I was digging deep into the library to figure out what's wrong.

[2016-04-18 13:52] graingert commented on #166
@mgonto bump

[2016-04-21 14:36] spencer95 opened #174 "Event for onStepChange and or onStepLoaded"
Is there any scope to request this feature? Or has anybody implemented this kind of functionality before?

[2016-04-21 15:37] jacobscarter commented on #159
A CHANGELOG needs to be implemented, sorry for the confusion, making an issue as a reminder to implement a CHANGELOG and update README

[2016-04-21 15:37] #159 closed

[2016-04-21 15:37] jacobscarter commented on #160
Can you create a Fiddle with some code examples so I can try and re-create

[2016-04-21 15:38] jacobscarter commented on #162
Roger that, I haven't gotten any other request for an optional CSS but I will add it to the discussion to see if there is a need for this by other people.  Thanks for the comment! :)

[2016-04-21 15:38] #162 closed

[2016-04-21 15:39] jacobscarter commented on #163
Yes a CHANGELOG is badly needed, I have an issue up to add one, sorry for the confusion.

[2016-04-21 15:39] #163 closed

[2016-04-21 15:40] jacobscarter commented on #165
@malavshah can you explain to me what you mean when you say "get handle of navigation bar circular icon"? What do you mean by get handle?

[2016-04-21 15:40] jacobscarter commented on #166
This will get added in the next release

[2016-04-21 15:40] #166 closed

[2016-04-21 15:41] graingert commented on #166
@jacobscarter nice

[2016-04-21 15:41] jacobscarter commented on #157
CHANGELOG will be added

[2016-04-21 15:41] #157 closed

[2016-04-21 15:42] jacobscarter commented on #169
Duplicate of issue #158 this will be addressed in the next release, thanks for your input.

[2016-04-21 15:42] #169 closed

[2016-04-21 15:44] jacobscarter commented on #170
You can put whatever HTML you'd like to inside your steps, because you are choosing to use `ng-include` the controllers are reloading, you can modify your steps HTML to get your desired effect.  Because we don't control or mandate what your steps HTML looks like this isn't something we can fix for you.

[2016-04-21 15:44] #170 closed

[2016-04-21 15:44] jacobscarter commented on #172
Can you create a Fiddle with a code example so I can better debug this for you?

[2016-04-21 15:47] jacobscarter commented on #173
Okay thank you @moneytree-doug I will close the issue since you've logged it on Angular's page

[2016-04-21 15:47] #173 closed

[2016-04-21 15:48] jacobscarter commented on #174
No requests before but I like the idea, I will add it for 0.6.2!

[2016-04-21 20:26] guikubivan commented on #157
Thank you!

[2016-04-22 13:43] tomvanrossom commented on #172
I've got the same issue! :(

@jacobscarter: do you have a working jsFiddle I can start with?

[2016-04-23 20:07] jacobscarter commented on #172
@tomvanrossom no I don't, I can prepare one when I have time, however to make sure we recreate the example it would be best if you can extract your code form your app to recreate it within the fiddle.

Let me know if you can do that.  Thanks!

[2016-04-25 11:20] tomvanrossom commented on #172
Ok: here is the jsfiddle: [link](http://jsfiddle.net/tomvanrossom/7wxs2wjm/)

I've created a wizard with 3 static steps, and 3 dynamic one's.

I want 2 static steps first, then 3 dynamic steps, and then another static step.

But the result is different: first the static, then the dynamic steps!?

[2016-04-26 00:29] jacobscarter commented on #172
@tomvanrossom gotcha, thanks for the example, I clearly see what you're saying, I will start looking into this.  Thanks.

[2016-04-29 15:47] okbel commented on #155
Hi! @ankitprahladsoni @IshwaryaMullaiSelvapandian

I'm currently running Angular-Wizard in my Angular App with Webpack.  I couldn't reproduce this issue, but sounds like a config issue with Webpack.

Check your `webpack.config.js`
1: Inside the resolve block there's a modulesDirectory property where you can specify where Webpack will look  for your dependencies.

If you are using **bower** and **n

[2016-04-30 16:20] chrisrgreen opened #175 "Syntax to dynamically disable a step other than current step"
According to the guidance, the syntax to disable the current step is
 $scope.disabled = 'true';

But what is the syntax to disable a step other than the current step? I have looked through the documentation, issues and code and cannot work it out - am I missing something obvious?

Based on previous answers in the current step, I wish to disable/enable later steps, before going to the next step (wh

[2016-04-30 17:01] jacobscarter commented on #175
each step can take a disabled attribute and each one can references a different value in your controller, e.g.

[code]

etc.

[2016-04-30 17:01] #175 closed

[2016-04-30 17:03] jacobscarter commented on #155
@IshwaryaMullaiSelvapandian does this solve your problem? Can we close the ticket?

[2016-04-30 18:46] ankitprahladsoni commented on #155
Setting the alias solves the issue. Thank you for the explanation.

[2016-05-01 01:35] IshwaryaMullaiSelvapandian commented on #155
yes, the issue is solved by the setting the alias. you can close the ticket. Thank you!.

[2016-05-01 09:34] essivision opened #176 "How to call function after go to next step"
Hi
I want to call a function after go to next step. In this function I use WizardHandler service to go last step  but won't work. It's my code:

[code]

and in controller:
[code]

[2016-05-01 11:37] talal89 opened #177 "Validation on a specific step"

[2016-05-01 11:39] talal89 commented on #177
How to perform validation on a specific step? If the validation fails it should not move to next step.

I tried canExit but it is called so many times instead it should be only called if i click the next button.

[2016-05-01 21:46] #155 closed

[2016-05-01 21:49] jacobscarter commented on #176
Can you provide me with more details? What behavior are you getting? Right now with the code the way you have it, the function that is called on importSubmit does the exact same thing clicking wz-next in your partial does.  What results are you wanting?

[2016-05-01 21:50] jacobscarter commented on #177
Can you provide a JSFiddle or some form of code example?  If canExit returns false it should prevent the step from proceeding.

[2016-05-02 05:43] essivision commented on #176
I solved problem with this:

1. remove `wz-next` attribute
2. add `ng-click="importSubmit()"`.
3. add this code in controller
[code]

[2016-05-02 09:26] pliablepixels opened #178 "functionality similar to onEnter (after step DOM is rendered)"
Hi there, thanks for this lovely library.

Is there a good way to implement a functionality that calls a controller function right after a step is entered? As of today we have ``wz-next="function()"`` that executes function() _before_ the next step is reached. I am looking at a means to execute a function _after_ the next step is loaded because I need to display some values in the step's HTML temp

[2016-05-02 09:38] pliablepixels commented on #178
Closing - I achieved what I needed by replacing wz-next of the previous step with ng-click and using the WizardHandler to programmatically do a wizard.next() (which loads the DOM) and then invoke my on enter function. Thanks!

[2016-05-02 09:38] #178 closed

[2016-05-02 16:08] jacobscarter commented on #178
@pliablepixels glad you found a solution!

[2016-05-02 16:09] jacobscarter commented on #176
Okay glad you found a solution, just for your knowledge you can add the wz-next attribute with no method inside, e.g. `<button wz-next>next</button>` and it will perform the same operation as your ng-click.

[2016-05-02 16:09] #176 closed

[2016-05-09 08:21] mominsamir opened #179 "Material Design stepper support"
Hi Nice component.

is there any plan to support material design stepper https://www.google.com/design/spec/components/steppers.html

Thanks

[2016-05-11 19:35] russTbaker opened #180 "Trying to skip to step using wz-disabled causes error"
Hi,

First of all, thanks for taking the time to create this tool, I've found it very useful. I have a use case where the wizard loads a series of pre-conditions and then presents the user with a list of options. Each option relates to a step in the wizard beyond where this list is presented. Each of those steps has the "wz-disabled" attribute and I set it to false when I want to enter that step.

[2016-05-19 19:19] joaopaulonobrega opened #181 "canexit calling on all steps but setted in one"
Hi, first, tnks for this angular module.

I'm by setting in one step , however, all other call , and even load the page it's called , I think I'm doing something wrong, but I'm not finding what may be, can someone help me?

[code]

the scope function

[code]

[2016-05-20 00:03] wcdeich4 opened #182 "Two steps display at once"
I'm having a problem where 2 steps display at the same time, one right under the other.  Sometimes this happens if the user clicks to edit a record & goes thru the wizard, then clicks cancel & then clicks to create a new record.

Other times, it happens a single step is very long, so the user has to scroll way down to click the wz-next button.

[2016-05-20 20:21] joaopaulonobrega commented on #177
I'm even problem, [#181](https://github.com/mgonto/angular-wizard/issues/181)

[2016-05-22 00:53] jacobscarter commented on #182
Can you provide a JSFiddle replicating the example? I have never experienced what you described or heard of anyone experiencing anything like that.  A working example of the error will help me debug it.

[2016-05-22 00:55] jacobscarter commented on #181
I'm sorry I don't understand your question, what is the error or wrong behavior that is happening?

[2016-05-22 04:13] wcdeich4 commented on #182
Thank you for getting back to me.  I'll try to make an example.  Our code is proprietary & uses Telerik Kendo Grid & a WebAPI back end.  There is a possibility of a CSS conflict w/ the Kendo Grid CSS.

Just to make sure I have not overlooked something obvious -- which version(s) of AngularJS is Angular Wizard compatible with?  (I'm assuming it works with the latest version of Angular, but I just w

[2016-05-23 01:56] joaopaulonobrega commented on #181
I'm validating only one step, however, the function I used to validate this step is being called when I call any other step , and even when I load the page it is called , I believe the right, it was the function is called only the validated step, but is not this happening . The same happened here [#177](https://github.com/mgonto/angular-wizard/issues/177)

[2016-05-23 02:01] jacobscarter commented on #181
I will create a jsFiddle and try to reproduce this, I'll get back to your shortly.

[2016-05-23 02:28] joaopaulonobrega commented on #181
I created one, however usually it works in my development environment does not happen so, = (

[jsFiddle ](https://jsfiddle.net/jpnobrega/0pjqkgau/26/)

[2016-05-23 02:38] joaopaulonobrega commented on #181
I could simulate , I created a contactor to increase each time the function is called, in loading it already increases the variable [jsFiddle](https://jsfiddle.net/jpnobrega/0pjqkgau/34/)

[2016-05-23 02:55] joaopaulonobrega commented on #181
I managed to simulate the function to validate , it Is set only in the second step , however it is called in other steps as well, and even the loading , I put writing on the island, every time it is called , see:
 [jsFiddle](https://jsfiddle.net/jpnobrega/0pjqkgau/48/)

[2016-05-23 11:14] joaopaulonobrega commented on #181
Only loading was called 3 times before reaching the step that will be validated.

![sem titulo](https://cloud.githubusercontent.com/assets/8898223/15469063/32c7c9f2-20be-11e6-9bf6-0509e42dcdea.png)

[2016-05-25 17:51] joaopaulonobrega commented on #182
exemple here -> [jsFiddle](https://jsfiddle.net/jpnobrega/0pjqkgau/48/)

[2016-05-26 23:35] GrowMon commented on #180
Hi,

Any word on this issue?

[2016-06-06 07:40] dreamerNcoder commented on #182
Hi,

I am able to replicate the issue, and attached the sample.
This happens if we load the wz-step with templated html.

Please see the attached template.
[WebSite1.zip](https://github.com/mgonto/angular-wizard/files/299930/WebSite1.zip)

[2016-06-07 11:46] dreamerNcoder opened #183 "How to implement the angular-wizard in isolated scope?"
Hi,

I have tried implementing the angular-wizard with isolated scope, and while doing so, I am not sure how to inject the controller function to an button inside the template of wizard steps.

Please guide me.

Thanks

[2016-06-09 15:26] Akawan opened #184 "Translate Wz-title"
Hi,

When I translate wz-title, for exemple  `<wz-step wz-title="{{ 'searchActivity' | translate }}">` the wizard display the key.

But in code source it's ok
![2016-06-09 17_25_46-localhost_23456_ _addactivity_2207128793](https://cloud.githubusercontent.com/assets/4621135/15935369/4a0fd418-2e67-11e6-9091-4fb0c9160d41.png)

![2016-06-09 17_25_35-localhost_23456_ _addactivity_2207128793](https://cl

[2016-06-13 17:56] desertratxx commented on #150
Hey it took some nerves (and accountcreations) as I am not used to jsfiddle.

Here is an example. The select works fine outside of the wizard, if the function is invoked on ng-change the value is correctly logged.

Inside the wizard tough, if the ng-change function is invoked the value is not set correctly in the controller.

Please help! Else I need to do a workaround for the select.

Best whishe

[2016-06-20 17:05] wcdeich4 commented on #182
Hi, any progress? Could you remove the "waiting for example" label since @dreamerNcoder provided an example?

[2016-06-20 22:55] joaopaulonobrega commented on #182
@dreanerNcoder, see my sample [jsFidle](https://jsfiddle.net/jpnobrega/0pjqkgau/48/),
open the debug browser, you will see that no template, the canexit funcion is called every time.

[2016-06-21 14:30] kamilio commented on #172
Same here! Any news?

[2016-06-22 07:32] rukavina opened #185 "Template variable"
Seems like "template" cannot be interpolated, it must be literal, which has very limited usage

[2016-06-22 08:33] rukavina commented on #185
or this might be angular general issue https://github.com/angular/angular.js/issues/7466

[2016-06-23 05:27] jacobscarter commented on #184
Can you provide a jsFiddle or Plunker that I can look at?

[2016-06-23 05:28] jacobscarter commented on #182
Label removed, I will look into this more in the next couple of days, thank you.

[2016-06-26 18:31] salimchami commented on #184
Hello,
I'm facing the same problem.
I Think that we can put two way binding on title variable (`wzTitle: '='` instead of `wzTitle: '@'`)  and don't use an intermedate variable for the title...
`$scope.title = $scope.wzTitle;`

[2016-06-27 09:36] MADavies opened #186 "Line not calculating correctly"
When implenting this wizard the line calculations are not calculating properly making the line extend accross the screen and out of the md-card.
Image of what is happening.
http://i.imgur.com/x8gVdWn.png

`<md-card md-padding class="login-card">
        <md-card-content>
          <section>
            <wizard on-finish="finishedWizard()">
                <wz-step wz-title="Starting">

[2016-06-27 19:18] salimchami commented on #184
Hi!
Here is the [plunker](https://plnkr.co/edit/0Mf8Vd7LG6aqIWu9Ca1b?p=preview) !

[2016-06-30 21:42] b-t-o commented on #40
@geostima editing like this, won't work for me:

`  $templateCache.put("wizard.html",
    "<div>\n" +
    "    <ul class=\"steps-indicator steps-{{getEnabledSteps().length}}\" ng-if=\"!hideIndicators\">\n" +
    "      <li ng-class=\"{default: !step.completed && !step.selected, current: step.selected && !step.completed, done: step.completed && !step.selected, editing: step.selected && step.complet

[2016-07-15 23:03] bamtron5 opened #187 "On Rendered Promise"
If we had an onRendered method that returned a promise that would help greatly.

[code]

Great component otherwise.  Thank you for your work.

[2016-07-19 05:34] hamidyfine opened #188 "Scroll to Top after going next or back"
Hi,
When user click on next or back, i want to scroll page to top of the form, how can I do it?

[2016-07-21 14:36] wagnermaurer opened #189 "WOrking"

[2016-07-21 18:54] wagnermaurer opened #190 "Navigation on top"
Hello!
I need to find a way to put the navigation steps above the content.

I can't do it just with HTML/CSS,
because the component always put the HTML element below the content in DOM.

Is that possible, or the plugin just put navigation below?

[2016-07-21 19:03] #189 closed

[2016-07-21 19:07] #190 closed

[2016-07-22 23:27] PhilipeGatis commented on #180
Hi.
Sorry for my english.
This error is because in the first moment, the object wizard load all the steps with no disable tag and you try acess the steps with this tag, this steps are loaded after. I believe, in source code uses directive ng-if to do this. You can add $watch in scope to observe the number of steps and use one if clause to compare with the number of steps totals.
Example:

$scope.$

[2016-07-26 06:13] ed-fruty commented on #119
Up.
Can anyone share example with an animation steps?

[2016-07-28 10:03] talal89 opened #192 "How to call a function on a specific step?"
Hi, How can i call a function on a specific step?

Lets say i have 4 steps and in every step there is a function which alerts a message and displays the step number.

Or lets say i have a function i want to execute on step 2 and step 4. How can i achieve that?

[2016-08-01 13:45] wagnermaurer opened #194 "Add second step dinamically"
Hi. I'm trying to add a second step after choosing an option in my first step.
Each of my steps have an angular.component to be rendered as the body of the step.

My first step in rendered that way:
[code]
Where `steps-body` is a directive that compile a component inside the container of the step.

How could I add a second step dinamically when the `wz-next` button is pressed?
I'm trying to find a

[2016-08-08 13:40] #194 closed

[2016-08-15 19:40] holtjonathan opened #195 "Wizard line extends outside of the body panel"
Is this library supported any longer?  I have an issue where I added a wizard on one of my pages that is within a panel.  Everything seems to be working fine except that the line that connects the 5 circles together extends out passed the panel body.    Please check out this example of what I mean: http://imgur.com/a/olPvC

Any ideas on how to fix this?

[2016-08-26 09:03] lindamarieb commented on #181
I am getting the same behaviour.

[2016-08-26 09:10] lindamarieb opened #196 "wz-next function is called before canexit validation"
I have a wz-next function and a canexit function for my wizard step. The wz-next function is called before the canexit function. Surely this is the incorrect order?

[2016-08-27 08:51] jacobscarter commented on #196
Yes that does not sound right, can you post some sample code? In our example page things work and fire as expected.

[2016-08-27 08:53] jacobscarter commented on #195
Yes you can customize the CSS to style this, if you provide a link to the page your wizard is on I can help you with that, however "out of the box" the line does not expand past the body panel so this is not an issue with the repo code, Ill close this issue but let me know if you want me to look at your CSS.

[2016-08-27 08:56] jacobscarter commented on #192
There are several ways to do this:

* Have a unique controller per step and add the function to said controller for said step
* Put a $watch statement in the controller for your wizard that watches the currentStep and fires a function when currentStep === X
* Instead of using wz-next on your step button make a custom function within ng-click and call the function you want and then call wz-next fro

[2016-08-27 08:56] #192 closed

[2016-08-27 08:59] jacobscarter commented on #188
Instead of using wz-next on your step button make a custom function and add your scroll to top logic before calling wz-next. e.g.

[code]

[code]

[2016-08-27 08:59] #188 closed

[2016-08-29 13:51] holtjonathan commented on #195
@jacobscarter My issue is that the line DOES expand outside of the container that it is in.  It goes across the entire page instead of staying within the panel (like it should).  I'll see if I can recreate the issue on codepen or something so that you can see the code.  I feel like 'out of the box' the wizard shouldn't expand outside of the panel/container that it is in.

[2016-08-29 17:36] jacobscarter commented on #195
Out of the box the line does not expans, I understand what your issue is, what I was saying is that the wizard CSS out of the box does not have that issue, I will re-open the ticket and wait for you code example, if the line is expanding to far from just a plain vanilla install of the wizard, then we can fix it, anything beyond that is custom css for your project.

[2016-09-01 17:50] RobARichardson commented on #172
Feeling the pain on this too!

[2016-09-06 23:08] jacobscarter commented on #187
@bamtron5 I have run into that problem myself, this is the work around I have been using in my projects, but I agree we should have something more standard:

[code]

[2016-09-07 20:51] jacobscarter commented on #115
@createthis @Adverse191 @narangrishab This issue has been fixed with the latest release.

[2016-09-07 20:51] #115 closed

[2016-09-09 07:01] eatshootrock opened #201 "Live Demo not working"
Tried going to the sample live demo of the wizard http://mgonto.github.io/angular-wizard/ but it is not working/functioning. It was working fine the other week or so.

btw, great work on the wizard.

[2016-09-09 13:15] gclouds opened #202 "How to get content of a step at the bottom of Navigation bar"

[2016-09-09 15:46] wbyoko commented on #181
Seems to need a function reference `someFn` not an expression to be run `someFn()`

The way it's currently being done isn't the idiomatic way to do it but that is what works.

[2016-09-11 19:04] jacobscarter commented on #201
Fixed, thanks for catching this

[2016-09-11 19:04] #201 closed

[2016-09-11 19:07] jacobscarter commented on #202
Not sure I understand the question fully, but I think you are referring to the indicators-position attribute, see instructions on use in the [README.md](https://github.com/mgonto/angular-wizard/blob/master/README.md)

[2016-09-11 19:07] #202 closed

[2016-09-11 20:43] gclouds commented on #202
thanks I meant the same :+1:

[2016-09-12 08:36] gclouds commented on #202
but indicators-position="top" is not working, still I am not getting the navigation strip at bottom

[2016-09-12 08:39] gclouds commented on #202
@jacobscarter please help me

PFA code

_>

[2016-09-13 00:29] jacobscarter commented on #202
I don't see your opening `<wizard>` tag in your example

[2016-09-13 00:49] jacobscarter commented on #184
This issue will be fixed and closed when #203 is merged

[2016-09-13 10:10] eatshootrock opened #205 "Linking template wizard.html and step.html"
I'm quite new with AngularJS and angular-wizard. I was able to do a simple wizard and found out that you can use external template file (ex. wizard.html) to further customize the navigation by using

`<wizard on-finish="finishedWizard()" indicators-position="top" template="app/views/wizard.html">`

However, I am also interested in linking another template called "step.html" to further customize my

[2016-09-13 23:10] jacobscarter commented on #205
Not currently, this would be considered a feature request

[2016-09-15 14:45] kopach opened #208 "canexit is not executed for last step"
In my project I'm doing validation of all the steps included latest one. So, I would like to have `on-finish` function being called only if `canexit === true`. Is it possible to do like this?

[2016-09-20 07:43] #184 closed

[2016-09-20 09:39] ashthespy commented on #171
Any points as to how you solved this?
Having similar issues (angular wizard + formly)

[2016-09-20 17:12] jacobscarter commented on #171
@ashthespy @yzaroui You setMode() function would be in the controller wrapping your wizard.

[2016-09-20 17:45] ashthespy commented on #171
I had a silly error attributed to rudimentary JavaScript skills, can mark this as closed.

[2016-09-27 08:18] butch90 commented on #152
I got the same problem in my code, im trying to post the data in my form with a ng-click/wz-next attribute in the button. I use ng-model aswell but nothing seems to post, its like the html file dont connect with my js directives file.

[2016-10-05 22:06] t3r5e commented on #208
I am running into this same issue. The canexit function (which runs my form validation) is not being executed before the on-finish function for the last step in the wizard. If I place a fake final step after my real final step then the canexit function is executed. This is not ideal though as it forces me to have a last step that serves no purpose.

[2016-10-07 16:24] rsangiovanni commented on #82
Hi, just for understanding, in order to access to wz-data, we need to use $parent in this way?
[code]

[2016-10-10 11:11] SwathiDandin opened #209 "validation not happening on continue button click!"
validation of all fields filled is not happening in continue button click.
please fix the issue.
waiting!

[2016-10-13 12:27] DeBiese opened #210 "EditMode - True and wzDisabled with controller variable"
When edit-mode is set to true and a step is dynamically enabled/disabled by binding wzdisable, the step will not be set to completed when it becomes enabled.

There are 2 options to fix this in my opinion:
a. Modify $scope.$watch('[editMode, steps.length]' ... to also watch the length of the result of the function call to getEnabledSteps()

b. Modify $scope.$watch('[editMode, steps.length]' ... to

[2016-10-18 13:35] joaopaulonobrega commented on #209
-1

[2016-10-20 12:47] vbarinov commented on #173
Any workaround for this, guys? I need a `wizard` instance in my controllers :)

[2016-10-21 01:41] moneytree-doug commented on #173
@vbarinov Look at the post in Angular that I linked

[2016-10-21 07:12] vbarinov commented on #173
@moneytree-doug yeah, I used `^^` example, but with no luck. `WizardHandler` are injecting in constructor,  hence, by the time helper directive calls `onInit` it havent wizard instance with proper scope.

[2016-10-24 09:31] jmls commented on #174
I was looking for this functionality - did it make it into 0.6.2 ?

[2016-11-02 19:32] tit1 opened #212 "Accessing the model from the controller"
Hello,

I've set up a multi-part from in an dialog. The only issue im having is access the data collected by the forms.
All form data is should be saved to $scope.entries.XXX but them i check the modal its empty.

Here is a sample of one of the steps: (Angular-material written in HAML)
[code]

Is there is a trick to accessing the data stored in these fields?

Thanks

[2016-11-03 10:25] rsangiovanni opened #213 "wizard:stepChanged add stepFrom information"
I think is useful to add  in the event  the information about the step we are moving from.
[code]

[2016-11-06 01:49] hemrajdev24000 opened #214 "WizardHandler.wizard().goTo does not update the step indicator"
When I use the WizardHandler.wizard().goTo('title') in my controller I go the current step in the wizard but the indicator does not show the previous steps as green. Is this a known issue?

[2016-11-09 17:57] Vandu07 opened #216 "Seperate HTML and Controller for each wz-step"
I am using angular-wizard in ma application.
For each step am using separate html and controller.
Is there any way to pass data from one step(controller) to next step (controller).
Is there any directive values which I can set ?I have tried using canenter and canexit. It didn't work.While passing from one step to another the corresponding controllers are not called.Any help would be deeply appreci

[2016-11-16 20:25] Vandu07 opened #217 "Go to a completed step on clicking each step title/nav element"
I am using angular-wizard in my appplication.
I would like to navigate to an edited/completed step.
Is there anyway I can do it ?

Eg: Suppose if I had edited till step 3 and if I wish to navigate to first step on clicking the title of first step directly from the wizard element?

[2016-11-18 12:16] oilart commented on #208
As it turned out it's possible to use `canexit` Boolean flag from a template before calling `onFinish()`

Wizard template:
[code]

However, in case when last step doesn't have any `canExit` validation handler assigned `canexit` value will be set to `false` by default so make sure you're not using it for steps which doesn't have/require validation. Otherwise using `wz-next` or `onFinish()` should w

[2016-11-24 08:34] eatshootrock opened #218 "Check if form fields are valid before going to next step"
Hello I'm quite new to AngularJS and to Angular Wizard.

My wizard contains 4 steps. Each steps have their own form content. I want to see/check if the form fields are valid before proceeding to the next step. I believe I can use canexit but i don't know how to see if my forms fields have valid inputs.

I want to create a function that would check if the form fields are valid before going to the n

[2016-11-25 11:07] diyaa-hamza opened #219 "Multy wizard in one controller"
I tried to add more than one wizard in one controller but I got an error once I tried to go to next()

` WizardHandler.wizard().next()`

error message

[2016-11-30 17:56] Rooftop-Tal opened #220 "IE Formatting: Wizard steps are misaligned"
The out-of-the-box setup to work out the width of wizard steps in the progress bar is to set them up as a percentage of the full width. E.g.:

[code]

_From src/angular-wizard.less_

This works fine in most browsers. However, in IE (IE 11 is the browser I've mostly been doing this testing with), this often leads to the final step "rolling over" onto the next line.

I've "fixed" this for now in my

[2016-12-01 10:57] VishwanathCR opened #221 "Facing issue in nz-step with ng-repeat"
Hi,

I have tried using <wz-step> with ng-repeat, so on page load it works as expected but when the array (eg: datatables) got updated then it is keep on appending new steps at the end (instead of replacing existing wz-steps with the new wz-steps as per new updated array). Also I have checked that the array is getting updated as expected.

Example:

<wizard>
<wz-step>
" 'datatables' array is getti

[2016-12-07 08:15] suyalcinkaya commented on #219
+1

[2016-12-07 10:52] suyalcinkaya commented on #219
Naming the wizard worked for me.

in HTML;
[code]
in controller;
[code]

[2016-12-08 14:12] gmanriqueUy opened #222 "Add 'wizard:stepChanged' event to docs"
Hi. I noticed that the emitted event **wizard:stepChanged** is not documented. I think it would be nice to have this on docs.

[2016-12-22 20:02] #210 closed

[2016-12-27 17:14] simiii commented on #172
same issue here

[2017-01-03 10:16] BorisTB opened #223 "bower error: The "main" field cannot contain minified files"
When I'm building my project I'm getting this error from bower.
I've also found it in the [bower json spec ](https://github.com/bower/spec/blob/master/json.md#main)

[2017-01-03 11:22] BorisTB commented on #127
Same issue here. $scope.$watch doesnt work [Plunker](https://plnkr.co/edit/gdwlU9T7QID0P16kKqXR)

[2017-01-03 11:34] nagendertank commented on #127
@BorisTB Hi i got the solution and posting for you.
Please go with below plunker
https://plnkr.co/edit/P4KjRc?p=preview

[2017-01-03 11:40] BorisTB commented on #127
Thank you very much for such a fast response. Your solution is great, but sadly this syntax is forbidden on project I'm currently working on. At least now I have idea where's the problem :)

[2017-01-05 12:30] BorisTB commented on #127
I've fixed it this way: [https://plnkr.co/edit/gdwlU9T7QID0P16kKqXR](https://plnkr.co/edit/gdwlU9T7QID0P16kKqXR)

[2017-01-10 04:55] balbany commented on #220
I don't have any improvement over the workaround you provided - but wanted to say thanks for posting! Gotta hate IE for CSS bugs...

[2017-01-13 12:23] Zemke commented on #173
It’s also worth to note that there might just be a delay, so you’d need to wait for some digest cycles to have run until there’s your wizard returned by `WizardHanderl.wizard()`.

Example component in TypeScript running `$doCheck` on every digest cycle until the wizard is found:

[code]

[2017-01-25 07:33] gino8080 commented on #42
is it possible to make a disabled step VISIBLE but NOT selectable?

I want the disabled step to remain in the step list in the navigation, BUT no selectable,

so if I have 4 steps
and the 3rd is disabled

i'll see all 4 steps on navigation bar
when i complete the 2nd I'll go directly to the 4th

hope i explained :)

thank you

[2017-01-25 07:39] gino8080 opened #226 "how to make disabled steps visible but not selectable"
is it possible to make a disabled step VISIBLE but NOT selectable?

I want the disabled step to remain in the step list in the navigation, BUT no selectable,

so if I have 4 steps
and the 3rd is disabled

i'll see all 4 steps on navigation bar
when i complete the 2nd I'll go directly to the 4th

hope i explained :)

thank you

[2017-02-02 17:43] envision opened #227 "How to disable ability to click and return to a completed step"
I'm implementing a registration wizard where the user should not be able to go to previous step. How to disable this ability?

[2017-02-06 08:42] gino8080 commented on #42
Anyone?

[2017-02-06 18:55] jacobscarter commented on #42
We could implement this feature, would you be willing to create a PR with this new functionality?

[2017-02-17 07:52] pankajsammal29 commented on #221
I also have the same issue, were you able to find any solution for it?

[2017-02-17 11:37] VishwanathCR commented on #221
@pankajsammal29 , If you reset the `scope.steps` array (which is internally used inside angular-wizard) on change then it works. Unfortunately, there is no such API exists to reset the `scope.steps` array.
You can update it to latest version, where you can Add/Remove steps.

Hope it helps.

[2017-02-17 15:00] vilaskumkar opened #228 "How to set up angular-wizard vertically?"
similar to this link

![](https://i.stack.imgur.com/OXKbu.png)

[2017-02-19 02:30] germg opened #229 "'undefined' on scope variabels"
Hi, im using your wizard and it loses value of variables. Justs take 'undefined' value always. If initialize the scope variables with a default value, i'll get it but isn't dynamic. Have any suggestion? Regards.

[2017-02-20 15:41] Dade91 opened #230 "Why when I press enter the step back one step?"
If I am in the second step, and hit enter to continue, instead of going to the third step returns to the first, why?

[2017-02-22 11:28] aalinia opened #231 "Opening specific wizard's step, using a parameter in the url"
How can I open specific wizard's step, using a parameter in the url?

[2017-02-23 05:54] ibnYusrat opened #232 "Calling on-finish at the 'second-last' step?"
Hello,

Is there anyway to call the 'on-finish' function just before the final step so that I can show the 'results' of their input on the 'last step' ?

I am trying to find a config before implementing something on my own.

Please help..

[2017-02-23 05:55] ibnYusrat commented on #230
You probably have 'input type=submit' on your previous button. Which gets fired by default.

[2017-02-23 05:55] ibnYusrat commented on #229
Please share your code.

[2017-02-23 05:57] ibnYusrat commented on #227
user the `canenter` attribute in the wz-step and specifiy a function which returns false when you don't want the user to enter that step.

[2017-02-28 14:45] kopach opened #233 "Do not call `canenter` if `canexit` of previous step - `false`"
Is there any chance to do not execute `canenter` function if `canexit` function of previous step returns `false`? IMHO, it does not make sense to trigger both validators if first fails.

[2017-03-07 11:45] vijayaKeesara opened #234 "Cannot even load html and canexit called twice"
I cannot load html when I am using when using http://cdn.jsdelivr.net/angular.wizard/latest/angular-wizard.min.js . I am missing something?

I could able to load my html page when I am using http://cdn.jsdelivr.net/angular.wizard/0.6.0/angular-wizard.min.js. 0.6.0 has issue method calling twice when I am on step2.

Please help

[2017-03-10 11:51] revosys commented on #172
same issue here...

[2017-03-21 14:03] chetanbuddh opened #235 "Cannot read property 'goTo' of undefined"
[code]

[2017-03-21 14:05] suyalcinkaya commented on #235
Did you name the wizard?

[2017-03-21 14:11] chetanbuddh commented on #235
Issue solved
[code]

[2017-03-21 14:11] #235 closed

[2017-03-29 19:20] mindscratch commented on #138
My use case is like so:
* bind `edit-mode` to a variable in my component: `edit-mode=$ctrl.wizardEditMode`
* initially wizardEditMode is false
* a user selects an item from a list, wizardEditMode gets set to true.

Things work so far. Then when the user is done performing their task, they hit a save button and I "reset" the wizard. After resetting, changes to the `wizardEditMode` variable, aren't

[2017-03-29 19:28] mindscratch commented on #138
Pull request added: https://github.com/angular-wizard/angular-wizard/pull/236

[2017-03-31 01:04] mindscratch opened #237 "Is anyone actively maintaining this project anymore?"
I emailed the original author, Martin, and he said he hasn't been using it for a while but others have been contributing. Trying to figure out if anyone is leading the effort or not. Thanks!

[2017-04-11 07:28] chetanbuddh opened #238 "Change URL after click on next button or click on next tab is this possible ?"

[2017-05-01 19:13] mindscratch commented on #237
I emailed Martin on April 10, asking if I could gain access to help with PRs to continue pushing this project along but I haven't received a response.

[2017-05-11 23:47] ouranos commented on #174
@jmls There's a `wizard:stepChanged` event. See [wizard.js#L135](https://github.com/angular-wizard/angular-wizard/blob/349b0cacf48c3cb57f5bb2123b8cf0be55dae840/src/wizard.js#L135)

It looks like the only event emitted for now.

[2017-05-17 02:54] KuroNoDev opened #239 "Steps indicator is not centered if there's only 1 step"
I'm playing with dynamic steps and noticed that if there's only 1 step declared (or every other steps are disabled), the step indicator will stick to the left. Adding `&.steps-1  li { width: 100%; }` does the trick.

[2017-05-24 16:07] gmanriqueUy commented on #222
Would you merge if I make a PR about this?

[2017-05-24 16:09] gmanriqueUy commented on #237
Any news on this, @mindscratch?

[2017-05-24 20:34] mindscratch commented on #237
@gmanriqueUy nothing yet, I just sent another email today. Are you interested in helping?

[2017-05-25 02:51] gmanriqueUy commented on #237
@mindscratch I do not have much experience in OS but I would love to learn and help on this.

[2017-06-06 11:50] unluckynelson opened #242 "wizard().goTo() not behaving as expected"
Great library, thank you. When I want to use goto to send the user to the last page, the previous steps does not go green and is therefore not clickable. In my use case I need an edit button on a already completed wizard, in case they made a mistake and want to edit something on a previous page.
Could the goto function be adjusted to mark al the previous steps as completed?

[2017-06-06 21:41] jacobscarter commented on #179
This question should be asked to the guys at ngMaterial: https://github.com/angular/material

[2017-06-06 21:41] #179 closed

[2017-06-06 22:47] #45 closed

[2017-06-06 22:48] jacobscarter commented on #242
you editMode to toggle all steps into an "editable" state. see the README.md for instruction on how.

https://github.com/angular-wizard/angular-wizard/blob/master/README.md

[2017-06-06 22:48] #242 closed

[2017-06-06 22:49] jacobscarter commented on #239
Sounds like custom CSS is the answer to your issue, thanks.

[2017-06-06 22:49] #239 closed

[2017-06-06 22:51] jacobscarter commented on #238
In the README file you will see the following example:

`<input type="button" wz-next="setMode(mode)" value="Next" />`

You can set a custom function to trigger when you click next, that function can do whatever you want, including change the URL of the page.

[2017-06-06 22:51] #238 closed

[2017-06-06 22:54] jacobscarter commented on #237
@mindscratch @gmanriqueUy I would be the maintainer here, I use that term loosely as I have been to busy to pay attention as much as the project deserves.

I just finished merging a few PRs, commenting on others, and addressing some of the Issues.

If anyone wants to get involved can you please start by correcting PRs and answering Issues? The more help the better and I can get you access to the R

[2017-06-06 23:04] jacobscarter commented on #234
See README for updated CDN instructions.

[2017-06-06 23:04] #234 closed

[2017-06-06 23:04] jacobscarter commented on #233
Agreed, could you create a PR with this update?

[2017-06-06 23:05] jacobscarter commented on #232
You can utilize the canEnter function or canExit function of the previous step, or you can watch the currentStep property and trigger changes based on that.  Hope this helps.

[2017-06-06 23:05] #232 closed

[2017-06-06 23:06] jacobscarter commented on #231
In your controller gain access to the wizard and use the goTo(stepNumber) method. You can see example of this in the Demo or written example in the repos README file.

[2017-06-06 23:06] #231 closed

[2017-06-06 23:07] jacobscarter commented on #230
If you provide code example we can see what the issue is, it is probably something like what @ibnYusrat said.

[2017-06-06 23:08] jacobscarter commented on #228
You can use custom CSS to change the styles of the steps.

[2017-06-06 23:08] #228 closed

[2017-06-06 23:08] jacobscarter commented on #227
What @ibnYusrat said.

[2017-06-06 23:08] #227 closed

[2017-06-06 23:13] jacobscarter commented on #226
you can use the canEnter method on the step to stop a user from entering it if you don't want them to.

[2017-06-06 23:13] #226 closed

[2017-06-06 23:39] jacobscarter commented on #223
Fixed

[2017-06-06 23:39] #223 closed

[2017-06-06 23:40] jacobscarter commented on #222
@gmanriqueUy Yes please make the PR and we will get it merged, make sure to read the CONTRIBUTE.md file.

[2017-06-06 23:44] jacobscarter commented on #221
@VishwanathCR solution will work, also you can specify step order with the ` wz-order="1"` attribute. the wz-order attribute can be $index of the array you are repeating and that should solve your issue.

[2017-06-06 23:44] #221 closed

[2017-06-06 23:48] jacobscarter commented on #219
@diyaa-hamza naming the wizard is the proper way to do it as @suyalcinkaya mentioned

[2017-06-06 23:48] #219 closed

[2017-06-06 23:51] jacobscarter commented on #218
@eatshootrock you can use angular's ngForm as you mentioned, https://docs.angularjs.org/api/ng/directive/form Or you can set up you own custom validation, it is really up to you.  Read the ngForm docs for specifics on that.

[2017-06-06 23:51] #218 closed

[2017-06-06 23:52] jacobscarter commented on #217
You can currently do this.  For example, in the demo navigate to step 3, then click the green circle for step 1 and you will navigate back to it

http://angular-wizard.github.io/angular-wizard/

[2017-06-06 23:52] #217 closed

[2017-06-06 23:53] jacobscarter commented on #216
you have access to the `context` object on the wizard, you can see examples of this on the enterValidation and exitValidation example in the README.md, or you can use and Angular Service https://docs.angularjs.org/guide/services

[2017-06-06 23:53] #216 closed

[2017-06-06 23:54] jacobscarter commented on #214
Yes it is, you would need to toggle the editMode on the wizard, instructions on how to do that can be found in the README.md.

Hope this helps, if you want further functionality I would be happy to merge a PR.

[2017-06-06 23:54] #214 closed

[2017-06-06 23:55] jacobscarter commented on #213
@rsangiovanni I agree, if you create a PR I can get the code into the project.  Thanks and I look forward to your PR.

[2017-06-06 23:56] jacobscarter commented on #212
Because the wizard directive is in it's own isolated scope, you would either need to access the $parent scope, use the context object available to you via the Wizard (see docs in README), or hook these fields up to a Service.

[2017-06-06 23:56] #212 closed

[2017-06-06 23:57] jacobscarter commented on #209
@SwathiDandin please provide code examples, all unit tests for validation are passing.

[2017-06-06 23:58] jacobscarter commented on #208
@oilart thank you for providing the work around.

If someone wants to get a PR up we can fix this, otherwise I will add it to my todo list but not sure when I will get to it.

Thank you.

[2017-06-07 00:00] jacobscarter commented on #195
Closing because no example was provided.

[2017-06-07 00:00] #195 closed

[2017-06-07 00:01] jacobscarter commented on #186
@MADavies your image is no longer available, can you please provide a jsFiddle with the issue occurring.  Thanks.

[2017-06-07 00:02] jacobscarter commented on #185
Closing per your comment on it being an angular issue.

[2017-06-07 00:02] #185 closed

[2017-06-07 00:02] jacobscarter commented on #183
@dreamerNcoder can you please provide a code example of your issue.  thanks.

[2017-06-07 00:08] jacobscarter commented on #181
Per @wbyoko comment, you are improperly using the `canexit` attribute, reference the method, do not envoke it. `canexit="validateStep"` not `canexit="validateStep()"`

[2017-06-07 00:08] #181 closed

[2017-06-07 00:11] jacobscarter commented on #180
@russTbaker the issue is as @PhilipeGatis stated, you are attempting to access the step before a digest cycle has added the step to the steps array.  You can wrap the `goTo()` in a `$timeout` forcing a digest cycle to run or you can add the watch like mentioned above.  Hope that helps.

[2017-06-07 00:11] #180 closed

[2017-06-07 07:05] unluckynelson commented on #242
Hi Jacob

Thank you but the Readme is not clear on what value (mode) should be, a string or a boolean?

Also, nowhere in the readme is there an explanation or example of what EditMode is or how to use EditMode.

How would I set a specific steps’ EditMode, or is it set globally?

Thanks

Regards

Johan

From: Jacob Carter [mailto:notifications@github.com]
Sent: 07 June 2017 12:49 AM
To: angular-wiz

[2017-06-07 17:44] jacobscarter commented on #242
@unluckynelson I will update the README, (mode) would be a boolean and this is a global setting that applies to all steps.

[2017-06-07 18:45] gmanriqueUy commented on #213
@rsangiovanni can you please confirm if you are going to work on this?

[2017-06-08 00:54] gmanriqueUy commented on #222
@jacobscarter this issue can be closed. ;)

[2017-06-08 16:04] #222 closed

[2017-06-12 16:30] asder707 opened #248 "setEditMode is not a function"
I´m using wizardHandler like a service and the function "WizardHandler.wizard().setEditMode(true)", have an error:
![image](https://user-images.githubusercontent.com/22712532/27044159-a1bab1a4-4f6a-11e7-9c8a-644133aa0429.png)

i´m using te same sintax in the documentation and the others finctions works perfectly.

[2017-06-12 16:32] jacobscarter commented on #248
If you look at your angular-wizard JS code what version does in say at the banner at the top.

![example](https://user-images.githubusercontent.com/3640740/27044331-0e95b468-4f52-11e7-9dc4-c1780b5bb5e8.jpg)

[2017-06-12 16:44] asder707 commented on #248
was a version problem, i update to te latest and works, thanks!

[2017-06-12 16:44] #248 closed

[2017-06-26 09:00] datpp opened #249 "error"
![image](https://user-images.githubusercontent.com/968083/27531921-875dfcf2-5a88-11e7-88ff-3f59f3141658.png)

[2017-06-30 13:10] BeLimitless opened #251 "ReferenceError on "canexit="exitValidation"" [Fix included]"
Good afternoon,

In my wizard step, I use canexit="exitValidation" to validate a step before going to the next step. In my controller I use the following code;

[code]

Whenever the return is true, all is ok. However, when I return false I always get a Reference error shown below;

[code]

I hope someone is able to help me out with this isue.

Best regards,

Kai van Rijswijk

[2017-06-30 13:32] BeLimitless commented on #251
I just added LoDash to my application and the error is gone, I cannot see any reference to LoDash in the documentation.

[2017-07-01 20:07] BeLimitless commented on #249
Include LoDash in your project, it will (temporarily) fix your error.

[2017-07-07 09:52] AngularPlayer commented on #251
I have the same problem.
Seen to be an error at line 236
`$scope.$emit('wizard:stepChangeFailed', {step: step, index: _.indexOf($scope.getEnabledSteps(), step)});`

[2017-07-07 10:09] BeLimitless commented on #251
Hey @AngularPlayer,

Noticed the same error at the same line, too (temporarily) fix this, add LoDash to your project.

[https://lodash.com/](https://lodash.com/)

Best regards,

Kai

[2017-07-25 11:10] tomavic commented on #237
I can contribute also as I am facing many issues not major but need to be solved

[2017-08-08 14:24] Flexion3 opened #253 "Angular 4 support?"
Hi, I'm new to the whole Angular thing, so pardon my maybe obvious question.
Is this component for AngularJS, and if so, does it support Angular 4?

[2017-09-09 22:33] gmanriqueUy commented on #249
Same as #251

[2017-09-23 11:30] devangnaghera commented on #118
Is this feature added in 1.1.1 ?

[2017-10-11 14:04] archi3315 commented on #172
@jacobscarter no news on this??
I found a workaround using wz-order and setting it to an extremely high value to my final step:
[code]

Hope this help!

[2017-10-16 15:03] bgadiel opened #255 "Can't reference a controller's function from template"
Hello
I am not able to reference a function (vm.selectModelType()) from the controller when using template in <wz-step>:
[code]
The problem disappears when I add the html code directly:
[code]

Any help please?

[2017-10-23 14:48] bgadiel commented on #255
?

[2017-10-30 14:02] GetTaxSolutions commented on #253
We also need from version which support Angular 4 as Component. Do you have a plan to implement it?

[2017-11-23 20:09] wkjesus opened #259 "Issue when add the canenter feature."
In some cases when using the canenter when validate the step, some times y show this error:

ReferenceError
columnNumber: 82
fileName: "http://localhost:8000/node_modules/angular-wizard/dist/angular-wizard.js"
lineNumber: 236
message: "_ is not defined"

i resolve change this line of code
//original
//$scope.$emit('wizard:stepChangeFailed', {step: step, index: _.indexOf($scope.getEnabledSteps(), s

[2017-12-05 20:19] fcarreno commented on #229
I seem to have the same issue. Here's an example:

* Template...

`<wizard on-finish="ok()" hide-indicators="true">
<wz-step wz-title="job">
      <h4>Prompt...</h4>
      <input type="radio" data-ng-model="hired" data-ng-value="true">Si</input>
      <input type="radio" data-ng-model="hired" data-ng-value="false">No</input>
</wz-step>
</wizard>`

* Controlller....

$scope.ok = function(){
   cons

[2017-12-05 21:00] fcarreno commented on #229
I found out that declaring the model as an object, and then using it on the templates works.
Replace data-ng-model="hired" by data-ng-model="wizard.model" in view.

And then in controller, declare/initialize a $scope.wizard = {}

Maybe it's a workaround, but if not - and it's the way we're supposed to get the values set from the template, in the controller - then seems a basic item to include in t

[2017-12-18 10:10] bgadiel commented on #255
@jacobscarter , help please?

[2017-12-21 20:15] dev-thinks opened #260 "wz-data and canenter are being called multiple times"
trying to load some initial data for a step through wz-data or canenter; but both are calling multiple times and sometimes it is exceeding the number of iterations and causing angularjs aborting exception.

[2018-01-04 08:24] sailingfree opened #261 "removing a step fails if it index 0"
If a step has and index of 0 is it not removed. The return check in removeStep needs to allow 0. indexOf returns -1 if the item does not exist.

diff --git a/dist/angular-wizard.js b/dist/angular-wizard.js
index 6380ed4..ac54394 100644
--- a/dist/angular-wizard.js
+++ b/dist/angular-wizard.js
@@ -179,7 +179,7 @@ angular.module('mgo-angular-wizard').directive('wizard', function() {
             //c

[2018-01-26 18:25] mschreib28 commented on #172
Thanks @archi3315 - this worked for me. I was dynamically adding in steps (like add another address).

[2018-01-29 14:39] mschreib28 commented on #119
@ed-fruty: https://github.com/angular-wizard/angular-wizard/issues/4#issuecomment-133412721

[2018-02-01 16:55] josoroma-zz opened #263 "Why from data from first step is lost when a user tries to visit another step?"
I believe I read out there that we have to use services, is this true?

[2018-02-05 14:37] #263 closed, assigned to nobody

[2018-02-07 10:22] LearnGrowAndShare commented on #183
Sorry for delay in response, I have found out that the set up was incorrect for us .. now it's working

[2018-02-07 10:22] #183 closed

[2018-02-15 13:40] jainsaksham22 opened #264 "on removing wz-step anomaly"
I am trying to create 4 wz-step in a wizard and want to display them on condition basis for example if flag= true show step 1,2,4 and if flag=false show step 3,5 but In my case it is not working on the condition basis.

[2018-02-15 13:45] jainsaksham22 opened #265 "Wizard Handler goTo issue"
when i am opening wizard again, it is opened from last step. I am using  WizardHandler.wizard().goTo(0); but it is not working.

[2018-02-19 11:45] dariogriffo commented on #172
@archi3315 or @mschreib28 which versions are you working?
I'm doing this and is not working for me, using  * @version v1.1.1 - 2017-06-07

    <wizard on-finish="ctrl.finishedWizard()" on-cancel="ctrl.cancelledWizard()">
        <wz-step wz-order="1">
            <h1>This is the first step</h1>
        </wz-step>
        <wz-step wz-title="{{subject.Name}}" wz-order="{{2 + $index}}}" ng-repeat="su

[2018-02-19 12:11] archi3315 commented on #172
I'm using v1.1.1 too and it's working for me.
What's the behavior you get?

‌

On Mon, Feb 19, 2018 at 8:45 AM, Dario Griffo <notifications@github.com>
wrote:

[2018-03-04 05:53] rashnk opened #266 "Can i use this in angular 2 ?"

[2018-03-20 19:32] ericreis commented on #259
I am getting this error as well. Have you managed to fix it?

[2018-03-20 20:19] wkjesus commented on #259
i fix it like this
open angular-wizard.js and comment this line
//original
//$scope.$emit('wizard:stepChangeFailed', {step: step, index: _.indexOf($scope.getEnabledSteps(), step)});

and replace with this one
$scope.$emit('wizard:stepChangeFailed', {step: step, index:stepIdx(step)});

[2018-03-30 16:55] dev-thinks commented on #82
It is not clear how to set and get wz-data. would be great if someone help it out.

[2018-04-18 01:35] greatfanfan opened #267 "How to make the navigation bar Non clickable？"
In my case, I don't want the navigation is clickable,How to do it ? Are there some setting already?Thanks a lot...

[2018-04-18 02:34] greatfanfan commented on #267
emmm...I modified the wizard.html

[2018-04-18 02:34] #267 closed, assigned to nobody

[2018-04-25 12:54] firomero commented on #103
At some point in my application the solution by @Ehesp it doesn't work. Always invoking WizardHandler.wizard() if undefined crashes the application. What conditions make a null return ?

[2018-05-01 10:03] mc-mosa opened #268 "Disabling steps dynamically"
When disabling the currently selected step dynamically, it doesn't get deselected. The next enabled step is shown below that step.

[2018-05-07 13:08] mparramont commented on #158
FYI, I have implemented this in #270.

[2018-05-07 13:08] mparramont commented on #169
FYI, I have implemented this in #270.

[2018-05-24 16:27] SiriusED opened #272 "How to disable navigation in the toolbar"
Is thare any way to disable navigation via click on the links in the wizard tolbar like previous and next.
I mean I need to forbid clicks by mouse on the steps in the toolbar, Is that possiable?

[2018-05-25 01:28] greatfanfan commented on #272
I solved this problem by modifying the template 'wizard.html' , removed the attribute "ng-click", maybe can   help you..

[2018-05-25 07:37] SiriusED commented on #272
I've tryed to use the `template` attribute but can't understand what path should I use to set it in...

[2018-06-10 23:49] sebazelonka commented on #272
Have you tried using CSS Pointer Events?
https://css-tricks.com/almanac/properties/p/pointer-events/

[2018-06-21 16:06] des-jender opened #273 "JS Error: _ is not defined"
I think I found a JS Bug in the newest Version of the angular-wizard.

When returning 'false' in a canexit function this error apears in the console:
![image](https://user-images.githubusercontent.com/34470461/41730715-c25c12ca-757c-11e8-83c1-4dd40618863a.png)

After debugging it, I found a Typo in /dist/angular-wizard.js in Line 236 where '_' is used instead of a variable.
`index: _.indexOf($scop

[2018-07-01 05:04] samanbenny opened #274 "RTL problem"
hi,
How can i use this component to draw from Right to Left steps?

[2018-07-03 10:02] sonawane-sanket commented on #172
@archi3315
edit-mode="true" is working for dynamically added steps, can you please add more on this

`<wizard id="wizard" edit-mode="true">
    <wz-step wz-title = "1" wz-order="1"> First static step </wz-step>
    <wz-step wz-title = "2" wz-order="2"> Second static step </wz-step>
    <wz-step wz-title = "{{3 + $index}}" ng-repeat="section in officials" wz-order="{{3 + $index}}"> Dynamic step {{$

[2018-07-23 06:31] kruthi12434354657687 commented on #259
/node_modules/angular2-wizard/index"' has no exported member 'FormWizardNextModule'.

please help with this.

[2018-08-23 01:07] erikyuzwa commented on #266
No

[2018-12-03 15:01] NevilDabre commented on #265
You can try `WizardHandler.wizard('YourWizardName').reset();`

[2018-12-14 12:04] PhoneixS commented on #253
Look at https://github.com/madoar/angular-archwizard it's very very similar library but build for angular 5+.

[2018-12-14 12:04] PhoneixS commented on #266
Maybe you can look at https://github.com/madoar/angular-archwizard it's very very similar library but build for angular 5+.

[2019-04-27 12:34] elahekaramzade opened #279 "back to current step if back to other completed steps"
it seems only completed steps can be shown, and the only way to complete steps is
`WizardHandler.wizard().next();
`
and if you change the steps you cannot back to current step again.
any help?

[2019-04-27 12:38] elahekaramzade commented on #279
it seems only completed steps can be shown, and the only way to complete steps is
`                    WizardHandler.wizard().next();
`
and if you change the steps you cannot back to current step again.
any help?

[2019-11-25 15:44] mario-to-lowercase opened #280 "Input values not sending to PHP"
I worked around a little bit qith your wizard and its realy nice.

I've made  form and put the wizard inside, but when the wizard is finished php doesnt recive the input values.

What is the best way to submit the form with angularJS to PHP when the wizard is finished?

[2019-12-12 19:21] phvajjha commented on #228
Any pointers on how one would start with this? Sorry I am a bit slow!